<template>
    <b-card
        header="О проекте"
        header-tag="h1"
        header-bg-variant="dark"
        header-class="card_header"
    >
        <b-card-text>
            <p>
                Это идеальная беспроигрышная онлайн лотерея, в которой участники абсолютно без вложений имеют возможность выигрывать деньги!
            </p>
            <p>
                У тебя есть уникальная возможность проводя всего несколько минут в день на сайте, участвовать, и, конечно, побеждать в распределениях призового фонда.
                Фонд формируется за счет рекламы и, кстати, ничем не ограничен! Он зависит только от количества участников. Таким образом лотерея может дать отличный дополнительный заработок онлайн.
            </p>
            <p>
                Приглашая друзей и знакомых, ты не только даешь им возможность выиграть денежные призы бесплатно, но и способствуешь увеличению призового фонда, а также увеличиваешь
                для себя максимальное количество лотерейных билетов в сутки. Ведь чем больше билетов на руках, тем больше шанс, что один из них выиграет!
            </p>
            <p>
                Лотерея не является азартной игрой, так как розыгрыши проводятся на бесплатной основе и не имеют абсолютно никаких рисков для пользователя. Мы не собираем с пользователей
                совершенно никаких средств или инфорации, кроме той, что предоставляется для регистрации в сервисе.
            </p>
            <p>
                Цель лотереи - достичь такого количества участников, чтобы выигрыш первого места реально мог изменить жизнь победителя!
                И это возможно! Достаточно рассказать об этой лотерее всем! Ведь чем больше людей участвует, тем больше призовой фонд, а значит больше достанется
                победителям. Только представь, что у каждого посетителя будет шанс просто так выиграть миллион рублей! Для это нужно приблизительно 3 миллиона пользователей. И так каждый день!
            </p>
        </b-card-text>
    </b-card>
</template>

<script>
export default {
name: "InfoCard"
}
</script>

<style scoped>
.card_header {
    color: white;
}
</style>
