<template>
    <b-card
        header-bg-variant="dark"
        header-class="card_header"
    >
        <template #header>
            <h1>Распределение за сегодня</h1>
        </template>
        <b-card-text>
            <b-alert show variant="light">
                <b-table hover :items="stats.items" :fields="stats.fields"></b-table>
                <p class="text-danger">
                    Внимание! Сумма выигрыша зависит от числа участников и растет с их количеством.
                    Шанс выигрыша расчитан исходя из 5 билетов в день. Чтобы увеличить свои шансы на джекпот, пригласи друзей и получи бонусные билеты!
                </p>
                <p class="text-warning">
                    Мы постоянно работаем над эффективностью рекламы и стараемся получить максимум от ее размещения, поэтому сумма призового фонда может вырасти
                </p>
            </b-alert>
        </b-card-text>
    </b-card>
</template>

<script>
import Timer from '@/components/Cards/StatsCard/components/Timer'
import { mapGetters } from "vuex";

export default {
    name: "StatsCardMini",
    components: {
        Timer
    },
    data() {
        return {};
    },
    methods: {},
    computed: {
        ...mapGetters('stats', ['stats']),
        ...mapGetters('user', ['user']),
    },
    mounted() {},
}
</script>

<style scoped>
    .card_header {
        color: white;
    }

</style>
