<template>
    <div class="clock flip-clock-wrapper">
        <span class="flip-clock-divider hours">
            <span class="flip-clock-label">Часов:</span>
            <span class="flip-clock-dot top"></span>
            <span class="flip-clock-dot bottom"></span>
        </span>
        <ul class="flip ">
            <li class="flip-clock-active">
                <a href="#">
                    <div class="up">
                        <div class="shadow"></div>
                        <div class="inn">{{hours_1}}</div>
                    </div>
                    <div class="down">
                        <div class="shadow">

                        </div>
                        <div class="inn">{{hours_1}}</div>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="flip ">
            <li class="flip-clock-active">
                <a href="#">
                    <div class="up">
                        <div class="shadow"></div>
                        <div class="inn">{{hours_2}}</div>
                    </div>
                    <div class="down">
                        <div class="shadow"></div>
                        <div class="inn">{{hours_2}}</div>
                    </div>
                </a>
            </li>
        </ul>
        <span class="flip-clock-divider minutes">
            <span class="flip-clock-label">Минут:</span>
            <span class="flip-clock-dot top"></span>
            <span class="flip-clock-dot bottom"></span>
        </span>
        <ul class="flip ">
            <li class="flip-clock-active">
                <a href="#">
                    <div class="up">
                        <div class="shadow"></div>
                        <div class="inn">{{minutes_1}}</div>
                    </div>
                    <div class="down">
                        <div class="shadow"></div>
                        <div class="inn">{{minutes_1}}</div>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="flip  play">
            <li class="flip-clock-active">
                <a href="#">
                    <div class="up">
                        <div class="shadow"></div>
                        <div class="inn">{{minutes_2}}</div>
                    </div>
                    <div class="down">
                        <div class="shadow"></div>
                        <div class="inn">{{minutes_2}}</div>
                    </div>
                </a>
            </li>
        </ul>
        <span class="flip-clock-divider seconds">
            <span class="flip-clock-label">Секунд:</span>
            <span class="flip-clock-dot top"></span>
            <span class="flip-clock-dot bottom"></span>
        </span>
        <ul class="flip  play">
            <li class="flip-clock-active">
                <a href="#">
                    <div class="up">
                        <div class="shadow"></div>
                        <div class="inn">{{seconds_1}}</div>
                    </div>
                    <div class="down">
                        <div class="shadow"></div>
                        <div class="inn">{{seconds_1}}</div>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="flip  play">
            <li class="flip-clock-active">
                <a href="#">
                    <div class="up">
                        <div class="shadow"></div>
                        <div class="inn">{{seconds_2}}</div>
                    </div>
                    <div class="down">
                        <div class="shadow"></div>
                        <div class="inn">{{seconds_2}}</div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</template>

<script>
import moment from "moment";

export default {
    name: "Timer",
    data() {
        return {
            seconds_1: null,
            minutes_1: null,
            hours_1: null,
            seconds_2: null,
            minutes_2: null,
            hours_2: null,
            timeinterval: null,
        };
    },
    mounted() {
        this.initializeClock();
    },
    methods: {
        getTimeRemaining: function () {
            let end_date = moment().startOf('day').add(1, 'day');
            let t = Date.parse(end_date) - Date.parse(new Date());
            let seconds = Math.floor((t / 1000) % 60).toString();
            if (seconds < 10) {
                this.seconds_1 = '0';
                this.seconds_2 = seconds;
            } else {
                this.seconds_1 = seconds.substr(0,1);
                this.seconds_2 = seconds.substr(1,1);
            }
            let minutes = Math.floor((t / 1000 / 60) % 60).toString();
            if (minutes < 10) {
                this.minutes_1 = '0';
                this.minutes_2 = minutes;
            } else {
                this.minutes_1 = minutes.substr(0,1);
                this.minutes_2 = minutes.substr(1,1);
            }
            let hours = Math.floor((t / (1000 * 60 * 60)) % 24).toString();
            if (hours < 10) {
                this.hours_1 = '0';
                this.hours_2 = hours;
            } else {
                this.hours_1 = hours.substr(0,1);
                this.hours_2 = hours.substr(1,1);
            }
            return t;
        },
        updateClock: function () {
            let t = this.getTimeRemaining();
            if (t <= 0) {
                clearInterval(this.timeinterval);
            }
        },
        initializeClock: function () {
            let t = this.getTimeRemaining();
            if (t <= 0) {
                clearInterval(this.timeinterval);
            }
            this.timeinterval = setInterval(this.updateClock, 1000);
        }
    },
}
</script>

<style scoped>

</style>
