<template>
    <b-card
        header="F.A.Q."
        header-tag="h1"
        header-bg-variant="dark"
        header-class="card_header"
    >
        <b-card-text>
            <b-alert show variant="secondary">
                <p>
                    <span style="color: red;font-weight: bold">Q: </span>
                    Почему участие в лотерее бесплатное? Как-то это подозрительно!
                </p>
                <p>
                    <span style="color: green;font-weight: bold">A: </span>
                    Все очень просто и максимально прозрачно - призовой фонд формируется за счет просмотра участниками рекламы.
                    Небольшая часть уходит организаторам на поддержание и развитие проекта, остальное уходит на выплаты выигрышей.
                    При получении билета придется 30 секунд смотреть рекламу - именно ее просмотр и формирует призовой фонд бесплатной лотереи.
                </p>
            </b-alert>
            <b-alert show variant="success">
                <p>
                    <span style="color: red;font-weight: bold">Q: </span>
                    В какое время происходит розыгрыш приза?
                </p>
                <p>
                    <span style="color: green;font-weight: bold">A: </span>
                    Распределение призового фонда происходит в 00:00 по Московскому времени. О том, сколько осталось до розыгрыша,
                    можно узнать по счетчику обратного отсчета наверху.
                </p>
            </b-alert>
            <b-alert show variant="secondary">
                <p>
                    <span style="color: red;font-weight: bold">Q: </span>
                    Как принять участие в лотерее?
                </p>
                <p>
                    <span style="color: green;font-weight: bold">A: </span>
                    Для этого достаточно получить билет. Билет состоит из номера и защитного кода (чтобы твой билет не обналичил кто-нибудь другой).
                    После получения билета на почту придет письмо с номером билета и защитным кодом.
                    Можно получить несколько билетов за один день. Чем больше билетов у тебя, тем больше шансов, что один из них сорвет джекпот!
                </p>
            </b-alert>
            <b-alert show variant="success">
                <p>
                    <span style="color: red;font-weight: bold">Q: </span>
                    А как увеличить максимальное количество билетов в день?
                </p>
                <p>
                    <span style="color: green;font-weight: bold">A: </span>
                    Приглашай друзей по своей реферальной ссылке, которую ты найдешь в своем кабинете.
                    За каждого зарегистрированного приглашенного пользователя ты получаешь один дополнительный билет.
                    Нет смысла приводить больше 20 - 30 друзей, ведь каждый билет нужно получать вручную, 30 секунд просматривая рекламу
                    для обеспечения призового фонда.
                </p>
            </b-alert>
            <b-alert show variant="secondary">
                <p>
                    <span style="color: red;font-weight: bold">Q: </span>
                    А что за защитный код? Зачем он нужен?
                </p>
                <p>
                    <span style="color: green;font-weight: bold">A: </span>
                    Ни в коем случае не говори никому этот код. Он необходим для подтверждения того, что выигрышный билет
                    принадлежит именно тебе и его нужно будет ввести при получении выигрыша.
                </p>
            </b-alert>
            <b-alert show variant="success">
                <p>
                    <span style="color: red;font-weight: bold">Q: </span>
                    А если несколько моих номеров окажутся выигрышными?
                </p>
                <p>
                    <span style="color: green;font-weight: bold">A: </span>
                    Это круто, поздравляем! У нас нет ограничений на кол-во выигрышей на одного участника. В том числе и поэтому
                    здорово, когда у тебя не 5 билетов в день, а, скажем, 10.
                </p>
            </b-alert>
            <b-alert show variant="secondary">
                <p>
                    <span style="color: red;font-weight: bold">Q: </span>
                    Как получить свой выигрыш?
                </p>
                <p>
                    <span style="color: green;font-weight: bold">A: </span>
                    При нажатии на кнопку "Получить деньги" выигрышный билет уходит в архив, а сам выигрыш зачисляется на
                    внутренний счет. В личном кабинете в разделе "Баланс" можно увидеть количество денег на счете и вывести
                    их на карту Visa/Mastercard, кошельки PayPal, WebMoney, Qiwi, RBK, Яндекс.Деньги и другие. Также можно
                    пополнить баланс мобильной связи. При переводе взимается комиссия сторонних сервисов в размере около 4%.
                    Минимальная сумма вывода составляет 5$ или 300 рублей.
                </p>
            </b-alert>
            <b-alert show variant="success">
                <p>
                    <span style="color: red;font-weight: bold">Q: </span>
                    От чего зависит призовой фонд лотереи?
                </p>
                <p>
                    <span style="color: green;font-weight: bold">A: </span>
                    Так как призовой фонд формируется за счет рекламы, то чем больше участников, тем больше призовой фонд.
                    Если внимательно приглядеться, призовой фонд постоянно растет в течение дня с каждым новым участником,
                    достигая максимума за секунду перед розыгрышем.
                </p>
            </b-alert>
            <b-alert show variant="secondary">
                <p>
                    <span style="color: red;font-weight: bold">Q: </span>
                    Когда нужно обналичивать билет?
                </p>
                <p>
                    <span style="color: green;font-weight: bold">A: </span>
                    Билеты имеют срок годности - один месяц. Если в течение этого времени выигрыш билета не был зачислен на
                    баланс в личном кабинете, билет сгорит. Поэтому лучше всего проверять выигрышные билеты на следующий день.
                </p>
            </b-alert>
        </b-card-text>
    </b-card>
</template>

<script>
export default {
    name: "FaqCard"
}
</script>

<style scoped>
.card_header {
    color: white;
}
</style>
