<template>
    <b-container fluid="" class="h-100 mt-6 mb-4">
        <b-row>
            <b-col cols="2" class="mt-4 col-l">
            </b-col>
            <b-col cols="8" class="mt-4">
                <b-container fluid="">
                    <b-card
                        header="Управление"
                        header-tag="h1"
                        header-bg-variant="dark"
                        header-class="card_header"
                    >
                        <b-card-text>
                            <h1>Плеер</h1>
                            <b-button @click="runPlayer" v-if="player && !player.status">Включить плеер</b-button>
                            <b-button @click="stopPlayer" v-if="player && player.status">Выключить плеер</b-button>
                            <span>{{player.value}}</span>
                            <h1>Розыгрыш</h1>
                            <b-button @click="runWinner" v-if="winner && !winner.status">Включить виннер</b-button>
                            <b-button @click="stopWinner" v-if="winner && winner.status">Выключить виннер</b-button>
                            <span>{{winner.value}}</span>
                        </b-card-text>
                    </b-card>
                </b-container>
            </b-col>
            <b-col cols="2" class="mt-4 col-r">

            </b-col>
        </b-row>
    </b-container>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import Swal from "sweetalert2";

export default {
    name: "index",
    data() {
        return {
            player: {
                status: false,
                value: ''
            },
            winner: {
                status: false,
                value: ''
            },
        };
    },
    methods: {
        ...mapActions('user', ['updateUser']),
        runPlayer: function () {
            axios.post('/api/run-player')
                .then(response => {
                    if (!response.data.success) {

                    } else {
                        this.getPlayer();
                    }
                }).catch(err => {
                console.log(err);
            });
        },
        stopPlayer: function () {
            axios.post('/api/stop-player')
                .then(response => {
                    if (!response.data.success) {

                    } else {
                        this.getPlayer();
                    }
                }).catch(err => {
                console.log(err);
            });
        },
        getPlayer: function () {
            axios.post('/api/get-player')
                .then(response => {
                    if (!response.data.success) {

                    } else {
                        this.player = response.data.player;
                    }
                }).catch(err => {
                console.log(err);
            });
        },
        runWinner: function () {
            axios.post('/api/run-winner')
                .then(response => {
                    if (!response.data.success) {

                    } else {
                        this.getWinner();
                    }
                }).catch(err => {
                console.log(err);
            });
        },
        stopWinner: function () {
            axios.post('/api/stop-winner')
                .then(response => {
                    if (!response.data.success) {

                    } else {
                        this.getPlayer();
                    }
                }).catch(err => {
                console.log(err);
            });
        },
        getWinner: function () {
            axios.post('/api/get-winner')
                .then(response => {
                    if (!response.data.success) {

                    } else {
                        this.winner = response.data.winner;
                    }
                }).catch(err => {
                console.log(err);
            });
        },
    },
    mounted() {
        this.getPlayer();
        this.getWinner();
        if (this.user.role !== 'admin') {
            this.$router.push('/');
        }
    },
    computed: {
        ...mapGetters('user', ['user']),
    }
}
</script>

<style scoped>

</style>
