<template>
    <b-dropdown-group class="list-group">
        <div v-if="user">
            <b-img height="200%" src="/images/icon8/icons8-маска-анонимуса-500.png"></b-img>
            <p class="center-text"><strong>{{user.email}}</strong></p>
            <p class="center-text text-success"><strong>Баланс: {{user.balance.toFixed(2)}} $</strong></p>
        </div>
        <b-dropdown-item to="settings" v-if="user">
            <span class="dropitem">Настройки</span>
        </b-dropdown-item>
        <b-dropdown-item to="admin" v-if="user && user.role === 'admin'">
            <span class="dropitem">Админка</span>
        </b-dropdown-item>
        <b-dropdown-item to="register" v-if="!user">
            <span class="dropitem">Регистрация</span>
        </b-dropdown-item>
        <b-dropdown-item to="login" v-if="!user">
            <span class="dropitem">Вход</span>
        </b-dropdown-item>
        <b-dropdown-item v-if="user" @click="logout">
            <span class="dropitem">Выход</span>
        </b-dropdown-item>
    </b-dropdown-group>
</template>

<script>
import axios from "axios";
import { mapActions, mapGetters } from 'vuex';

export default {
    name: "DropdownSettings",
    data() {
        return {
        }
    },
    methods: {
        ...mapActions('user', ['updateUser']),
        logout: function () {
            axios.post('/auth/logout')
                .then(response => {
                    if (response.data.success) {
                        this.updateUser(null);
                        if (this.$route.name !== 'main') {
                            this.$router.push('/');
                        }
                    }
                }).catch(err => {
                console.log(err);
            });
        }
    },
    mounted() {},
    computed: {
        ...mapGetters('user', ['user']),
    },
}
</script>

<style scoped>
    .dropitem {
        color: black;
    }
</style>
