<template>
    <div class="navbar">
        <div id="head" class="main">
            <div id="mhead" class="mhead">
                <b-row>
                    <b-col cols="1">
                        <div class="left noSelect" id="kt_quick_panel_toggle" v-b-toggle.sidebar-variant>
                            <i class="material-icons" style="color:white!important;">menu</i>
                        </div>
                    </b-col>
                    <b-col cols="9">
                        <div class="mt-2">
                            <router-link to="/" class="d-flex align-items-center" style="text-decoration: none; color: white">
                                <b-img src="/images/icon8/icons8-возврат-100.png"
                                       v-bind="{width: 45, height: 45, class: 'm1'}" alt="Онлайн лотерея"></b-img>
                                <span style="font-size: x-large">Free Lottery</span>
                            </router-link>
                        </div>
                    </b-col>
                    <b-col cols="2">
                        <div v-if="!isMobileVer()" class="rightButtonsLinks">
                            <div class="topbar-item">
                                <a>
                                    <b-dropdown
                                        variant="outline-light"
                                        toggle-class="butDown"
                                        split-class="butDown"
                                        size="lg"
                                        right
                                        no-flip
                                    >
                                        <template v-slot:button-content>
                                            <b-icon icon="person-circle" scale="2" style="padding-right: 5px; color: white" aria-hidden="true"></b-icon>
                                            <span v-if="!user" style="color: white">Вход/Регистрация</span>
                                            <span v-if="user" style="color: white">Настройки</span>
                                        </template>
                                        <DropdownSettings></DropdownSettings>
                                    </b-dropdown>
                                </a>
                            </div>

                            <!--begin: Language bar -->
                            <div class="topbar-item">
                                <b-dropdown
                                    size="sm"
                                    variant="link"
                                    toggle-class="btn btn-icon btn-clean btn-dropdown btn-lg mr-1 text-decoration-none"
                                    no-caret
                                    right
                                    no-flip
                                >
                                    <template v-slot:button-content>
                                        <img
                                            class="h-20px w-20px rounded-sm"
                                            :src="languageFlag || getLanguageFlag"
                                            alt=""
                                        />
                                    </template>
                                    <b-dropdown-text tag="div" class="min-w-md-175px">
                                        <DropdownLanguage
                                            v-on:language-changed="onLanguageChanged"
                                        ></DropdownLanguage>
                                    </b-dropdown-text>
                                </b-dropdown>
                            </div>
                            <!--end: Language bar -->
                        </div>
                    </b-col>
                </b-row>
            </div>
        </div>
    </div>
</template>

<script>
import { mobileMixins } from '@/mixins/mobile';
import i18nService from "@/core/services/i18n.service.js";
import DropdownLanguage from "@/components/DropdownLanguage";
import DropdownSettings from "@/components/DropdownSettings";
import { mapActions, mapGetters } from 'vuex';
import Swal from "sweetalert2";

export default {
    name: 'Navbar',
    props: {
        navbar_type: String
    },
    components: {
        DropdownLanguage,
        DropdownSettings,
    },
    mixins: [mobileMixins],
    data() {
        return {
            languageFlag: "",
            languages: i18nService.languages,
            stats_updater: null,
            player: null,
        };
    },
    computed: {
        ...mapGetters('user', ['user']),
        getLanguageFlag() {
            return this.onLanguageChanged();
        }
    },
    methods: {
        ...mapActions('user', ['updateRefLink']),
        ...mapActions('stats', ['updateStats', 'updateYesturdayStats']),
        ...mapActions('advs', ['updateAdvs']),
        onLanguageChanged() {
            this.languageFlag = this.languages.find(val => {
                return val.lang === i18nService.getActiveLanguage();
            }).flag;
        },
        visitor: function () {
            axios.post('/api/visitor')
                .then(response => {
                    if (!response.data.success) {

                    } else {

                    }
                }).catch(err => {
                console.log(err);
            });
        },
        getStats: function () {
            axios.post('/api/get-today-stats')
                .then(response => {
                    if (!response.data.success) {

                    } else {
                        this.updateStats(response.data.stats)
                    }
                }).catch(err => {
                console.log(err);
            });
        },
        getAdvs: function () {
            axios.post('/api/get-advs')
                .then(response => {
                    if (!response.data.success) {

                    } else {
                        this.updateAdvs(response.data.advs)
                    }
                }).catch(err => {
                console.log(err);
            });
        },
        getYesturdayStats: function () {
            axios.post('/api/get-yesturday-stats')
                .then(response => {
                    if (!response.data.success) {

                    } else {
                        this.updateYesturdayStats(response.data.yesturday_stats)
                    }
                }).catch(err => {
                console.log(err);
            });
        },
    },
    mounted() {
        if (this.$route.query.r) {
            this.updateRefLink(this.$route.query.r);
        } else {
            this.updateRefLink(null);
        }
        this.visitor();
        this.getStats();
        this.getYesturdayStats();
        this.getAdvs();

        this.stats_updater = setInterval(this.getStats, 60000);
        this.player = setInterval(this.play, 60000);
    },
};
</script>

<style lang="scss" scoped>
.butDown {
    -webkit-transition:all 0.25s ease;-moz-transition: all 0.25s ease;-ms-transition: all 0.25s ease;-o-transition: all 0.25s ease;transition: all 0.25s ease;
    padding: 10px 12px 9px;
    box-sizing: border-box;
    font-size: 14px;
    border: 1px dotted rgba(255,255,255,0.3);
    border-radius: 12px;
    margin-right: 30px;
    display: inline;
    color: rgba(255, 255, 255, 0.9);
}
.butDown:hover {
    background-color: rgba(255,255,255,0.95);
    color: #64aa46;
}
i {
    color:white!important;
}
.topbar-item {
    margin: auto;
}
.navbar {
    height: 50px;
    overflow: hidden;
    position: relative;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,21,41,.08);

    .hamburger-container {
        line-height: 46px;
        height: 100%;
        float: left;
        cursor: pointer;
        transition: background .3s;
        -webkit-tap-highlight-color:transparent;

        &:hover {
            background: rgba(0, 0, 0, .025)
        }
    }

    .breadcrumb-container {
        float: left;
    }

    .errLog-container {
        display: inline-block;
        vertical-align: top;
    }

    .right-menu {
        float: right;
        height: 100%;
        line-height: 50px;

        &:focus {
            outline: none;
        }

        .right-menu-item {
            display: inline-block;
            padding: 0 8px;
            height: 100%;
            font-size: 18px;
            color: #5a5e66;
            vertical-align: text-bottom;

            &.hover-effect {
                cursor: pointer;
                transition: background .3s;

                &:hover {
                    background: rgba(0, 0, 0, .025)
                }
            }
        }

        .avatar-container {
            margin-right: 30px;

            .avatar-wrapper {
                margin-top: 5px;
                position: relative;

                .user-avatar {
                    cursor: pointer;
                    width: 40px;
                    height: 40px;
                    border-radius: 4px;
                }

                .el-icon-caret-bottom {
                    cursor: pointer;
                    position: absolute;
                    right: -20px;
                    top: 25px;
                    font-size: 12px;
                }
            }
        }
    }
}
</style>
