<template>
    <b-container fluid="" class="h-100 mt-6 mb-4">
        <Leaderboardtop></Leaderboardtop>
        <b-row>
            <b-col cols="2" class="mt-4 col-l">
                <Skyscrapleft></Skyscrapleft>
                <Rectleft></Rectleft>
            </b-col>
            <b-col cols="8" class="mt-4">
                <b-container fluid="" >
                    <b-row>
                        <b-col>
                            <b-card
                                overlay
                                img-src="/images/wp/packs-1634972.jpg"
                                img-alt="Card Image"
                                text-variant="white"
                                title="Получи лотерейные билеты бесплатно"
                                title-tag="h1"
                                :sub-title="user.tickets_remain > 0 ? 'Сегодня можно получить еще ' + user.tickets_remain + ' билетов' : 'На сегодня все, приходи завтра!'"
                                sub-title-tag="h3"
                                sub-title-text-variant="warning"
                                img-height="200%"
                                border-variant="dark"
                                footer-bg-variant="dark"
                            >
                                <b-card-text class="mt-12">
                                    <b-row>
                                        <b-col>
                                            <h2 class="text-center">Призовой фонд на сегодня:</h2>
                                            <div class="clock flip-clock-wrapper justify-content-center">
                                                <ul class="flip play" v-for="num in stats.today_fond.toString()">
                                                    <li class="flip-clock-active">
                                                        <a href="#">
                                                            <div class="up">
                                                                <div class="shadow"></div>
                                                                <div class="inn">{{num}}</div>
                                                            </div>
                                                            <div class="down">
                                                                <div class="shadow"></div>
                                                                <div class="inn">{{num}}</div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </b-col>
                                        <b-col>
                                            <h2 class="text-center">До начала розыгрыша осталось:</h2>
                                            <Timer></Timer>
                                        </b-col>
                                    </b-row>

                                </b-card-text>
                                <template #footer>
                                    <b-button variant="outline-danger" :class="user.tickets_remain > 0 ? '' : 'disabled'" block pill size="lg" @click="getTicketModal()">Получить лотерейный билет</b-button>
                                </template>
                            </b-card>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col class="mt-4 justify-center">
                            <Leaderboardcenter></Leaderboardcenter>
                        </b-col>
                    </b-row>
                    <b-row class="mt-4">
                        <b-col>
                            <StatsCardMini></StatsCardMini>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col class="mt-4 justify-center">
                            <Leaderboardbottom></Leaderboardbottom>
                        </b-col>
                    </b-row>
                </b-container>
            </b-col>
            <b-col cols="2" class="mt-4 col-r">
                <Skyscrapright></Skyscrapright>
                <Rectright></Rectright>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
import 'material-design-icons';
import Swal from 'sweetalert2';
import { mobileMixins } from '@/mixins/mobile';
import { sidebarMixins } from '@/mixins/sidebar';
import Leaderboardtop from '@/components/Advs/Leaderboardtop';
import Leaderboardcenter from '@/components/Advs/Leaderboardcenter';
import Leaderboardbottom from '@/components/Advs/Leaderboardbottom';
import Skyscrapleft from '@/components/Advs/Skyscrapleft';
import Skyscrapright from '@/components/Advs/Skyscrapright';
import Rectleft from '@/components/Advs/Rectleft';
import Rectright from '@/components/Advs/Rectright';

import StatsCardMini from '@/components/Cards/StatsCardMini'
import FondCard from '@/components/Cards/FondCard'
import {mapActions, mapGetters} from "vuex";
import Timer from '@/components/Cards/StatsCard/components/Timer'



export default {
    name: "GetLottery",
    components: {
        StatsCardMini, FondCard, Timer,
        Leaderboardtop, Leaderboardcenter, Leaderboardbottom,
        Skyscrapleft, Skyscrapright, Rectleft, Rectright
    },
    mixins: [mobileMixins, sidebarMixins],
    data() {
        return {
            search_query: '',
        };
    },
    methods: {
        ...mapActions('user', ['updateUser']),
        loadJs(url, callback) {
            jQuery.ajax({
                url: url,
                dataType: 'script',
                success: callback,
                async: true
            });
        },
        getTicketModal: function () {
            if (this.user.tickets_remain < 1) {
                return;
            }
            let timerInterval
            Swal.fire({
                title: 'После просмотра этой рекламы появится новый лотерейный билет',
                html: 'Это окно автоматически закроется через <strong></strong> секунд.',
                timer: 15000,
                showConfirmButton: false,
                showCancelButton: false,
                allowOutsideClick: false,
                onBeforeOpen: () => {
                    this.loadJs('https://www.geniusdexchange.com/a/display.php?r=4103899');
                    timerInterval = setInterval(() => {
                        Swal.getContent().querySelector('strong')
                            .textContent = Swal.getTimerLeft()
                    }, 100)
                },
                onClose: () => {
                    clearInterval(timerInterval)
                }
            }).then((result) => {
                if (result.dismiss === Swal.DismissReason.timer
                ) {
                    this.getTicket();
                }
            })
        },
        getTicket: function () {
            axios.post('/api/get-ticket')
                .then(response => {
                    if (!response.data.success) {

                        Swal.fire({
                            type: 'error',
                            title: 'Ошибка',
                            text: response.data.message,
                        })
                    } else {
                        let html = '<p>Твой номер билета: <strong>' + response.data.ticket.number +
                            '</strong></p><p>Твой защитный код: <strong>' + response.data.ticket.code +'</strong></p>' +
                            '<p>Если у тебя еще остались билеты, используй их - увеличь свои шансы на джекпот!</p>' +
                            '<p>Если билетов больше нет, попробуй пригласить друзей - за каждого получишь по билету.' +
                            ' Для этого перейди <router-link to="/settings">в свой кабинет<router-link>, в раздел Рефералы. ' +
                            'Там ты найдешь свою реферальную ссылку.</p>' +
                            '<p>P.S.: мы выслали тебе на почту письмо, где продублировали номер лотереи и защитный код.' +
                            ' Если письма нет, поищи его в папочке "Спам" - такое иногда бывает. ' +
                            'Но на всякий случай сохрани куда-нибудь номер и код - всякое бывает! Ну и, конечно, удачи тебе!</p>'
                        this.user.tickets_remain -= 1;
                        this.updateUser(this.user);
                        Swal.fire({
                            title: 'Отлично!',
                            width: '50%',
                            html: html,
                            imageUrl: '/images/wp/packs-163497.jpg',
                            imageWidth: 400,
                            imageHeight: 200,
                            imageAlt: '',
                            animation: false
                        });
                    }
                }).catch(err => {
                console.log(err);
            });
        }
    },
    computed: {
        ...mapGetters('user', ['user']),
        ...mapGetters('stats', ['stats']),
    },
    mounted() {

    },
    metaInfo: {
        title: 'Получение билета',
        meta: [
            { charset: 'utf=8' },
            { vmid: 'description', property: 'description', content: 'Vue App' },
            { vmid: 'title', property: 'title', content: 'Vue App' },
            { vmid: 'og:title', property: 'og:title', content: 'Vue App' },
            { vmid: 'og:description', property: 'og:description', content: 'Vue App' },
        ],
        htmlAttrs: {
            lang: 'ru',
        }
    },
}
</script>

<style scoped>

</style>
