<template>
    <b-container fluid="" class="mb-4 h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-3 mt-16 col-l">
            </div>
            <div class="col-6">
                <div class="container mt-16" style="width: 100%">
                    <div class="row mt-16">
                        <div class="col">
                            <b-card header-bg-variant="secondary" class="text-center" header-tag="header" footer-tag="footer">
                                <template #header>
                                    <h1>Вход</h1>
                                </template>
                                <b-form>
                                    <b-form-group
                                        id="input-group-1"
                                        label="Введите свой Email адрес:"
                                        label-for="input-1"
                                    >
                                        <b-form-input
                                            id="input-1"
                                            type="email"
                                            v-model="email"
                                            placeholder="Введите email"
                                            required
                                        ></b-form-input>
                                    </b-form-group>
                                    <b-form-group id="input-group-2" label="Введите пароль:" label-for="input-2">
                                        <b-form-input
                                            v-on:keyup.enter="login"
                                            id="input-2"
                                            type="password"
                                            v-model="password"
                                            placeholder="Введите пароль"
                                            required
                                        ></b-form-input>
                                    </b-form-group>
                                </b-form>
                                <template #footer>
                                    <b-button href="#" @click="login" block variant="outline-primary">Войти</b-button>
                                </template>
                            </b-card>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 mt-16 col-r">
            </div>
        </div>
    </b-container>
</template>

<script>
import { mobileMixins } from '@/mixins/mobile';
import { sidebarMixins } from '@/mixins/sidebar';
import Swal from 'sweetalert2';
import {mapActions, mapGetters} from 'vuex';

export default {
    name: "login",
    components: {},
    mixins: [mobileMixins, sidebarMixins],
    data() {
        return {
            email: '',
            password: '',
            errors: {},
        };
    },
    methods: {
        ...mapActions('user', ['updateUser']),
        login: function () {
            axios.get('/sanctum/csrf-cookie').then(response => {
                axios.post('/auth/login', {email: this.email, password: this.password})
                    .then(response => {
                        if (!response.data.success) {
                            let html = '<div><h1>Исправьте следующие ошибки:</h1>';
                            if (response.data.errors.email) {
                                html += '<h3>Email:</h3>';
                                for (let err in response.data.errors.email) {
                                    let err_text = response.data.errors.email[err];
                                    html += '<p>' + err_text + '</p>';
                                }
                            }
                            if (response.data.errors.password) {
                                html += '<h3>Пароль:</h3>';
                                for (let err in response.data.errors.password) {
                                    let err_text = response.data.errors.password[err];
                                    html += '<p>' + err_text + '</p>';
                                }
                            }
                            if (response.data.errors.main) {
                                for (let err in response.data.errors.main) {
                                    let err_text = response.data.errors.main[err];
                                    html += '<p>' + err_text + '</p>';
                                }
                            }
                            Swal.fire({
                                html: html,
                                icon: 'error',
                                confirmButtonText: 'Хорошо'
                            });
                        } else {
                            this.updateUser(response.data.user);
                            this.$router.push('/');
                        }
                    }).catch(err => {
                    console.log(err);
                });
            });
        },
    },
    mounted() {
        if (this.user) {
            this.$router.push('/');
        }
    },
    computed: {
        ...mapGetters('user', ['user']),
    }
};
</script>

<style>
body {
    background: #c7b39b url(/images/wp/bg-2.jpg);
    background-size: cover;
}
.container {
    padding: 0;
}
.col-l {
    padding-left: 1%
}
.col-r {
    padding-right: 1%
}
</style>
