<template>
    <b-container fluid="" class="mb-4 h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-3 mt-16 col-l">
            </div>
            <div class="col-6">
                <div class="container mt-16" style="width: 100%">
                    <div class="row mt-16">
                        <div class="col">
                            <b-card header-bg-variant="secondary" class="text-center" header-tag="header" footer-tag="footer">
                                <template #header>
                                    <h1>Регистрация</h1>
                                </template>
                                <b-form>
                                    <b-form-group
                                        id="input-group-1"
                                        label="Введите Email адрес:"
                                        label-for="input-1"
                                        description="На этот Email будут приходить лотерейные билеты."
                                    >
                                        <b-form-input
                                            id="input-1"
                                            v-model="email"
                                            type="email"
                                            placeholder="Введите email"
                                            required
                                        ></b-form-input>
                                    </b-form-group>
                                    <b-form-group id="input-group-2" label="Придумайте пароль:" label-for="input-2">
                                        <b-form-input
                                            v-on:keyup.enter="register"
                                            id="input-2"
                                            type="password"
                                            v-model="password"
                                            placeholder="Придумайте пароль"
                                            required
                                        ></b-form-input>
                                    </b-form-group>
                                </b-form>
                                <template #footer>
                                    <b-button href="#" @click="register" block variant="outline-primary">Зарегистрироваться</b-button>
                                </template>
                            </b-card>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 mt-16 col-r">
            </div>
        </div>
    </b-container>
</template>

<style lang="scss" scoped>
.spinner.spinner-right {
    padding-right: 3.5rem !important;
}
</style>

<script>
import { mobileMixins } from '@/mixins/mobile';
import { sidebarMixins } from '@/mixins/sidebar';
import Swal from 'sweetalert2';
import { mapActions, mapGetters } from 'vuex';

export default {
    name: "register",
    components: {},
    mixins: [mobileMixins, sidebarMixins],
    data() {
        return {
            email: '',
            password: '',
            errors: {},
        };
    },
    methods: {
        ...mapActions('user', ['updateUser']),
        register: function () {
            axios.post('/auth/register', {email: this.email, password: this.password, ref_link: this.ref_link})
                .then(response => {
                    if (!response.data.success) {
                        let html = '<div><h1>Исправьте следующие ошибки:</h1>';
                        if (response.data.errors.email) {
                            html += '<h3>Email:</h3>';
                            for (let err in response.data.errors.email) {
                                let err_text = response.data.errors.email[err];
                                html += '<p>' + err_text + '</p>';
                            }
                        }
                        if (response.data.errors.password) {
                            html += '<h3>Пароль:</h3>';
                            for (let err in response.data.errors.password) {
                                let err_text = response.data.errors.password[err];
                                html += '<p>' + err_text + '</p>';
                            }
                        }
                        Swal.fire({
                            html: html,
                            icon: 'error',
                            confirmButtonText: 'Хорошо'
                        })
                    } else {
                        console.log(response.data.user)
                        Swal.fire({
                            icon: 'success',
                            title: 'Спасибо за регистрацию! На ваш электронный адрес выслано письмо с подтверждением',
                            showConfirmButton: false,
                            timer: 3000
                        }).then(data => {
                            this.updateUser(response.data.user);
                            this.$router.push('/');
                        })

                    }
                }).catch(err => {
                    console.log(err);
                });
            },
    },
    mounted() {
        if (this.user) {
            this.$router.push('/');
        }
    },
    computed: {
        ...mapGetters('user', ['ref_link', 'user']),
    }
};
</script>

<style rel="stylesheet/scss" lang="scss">
body {
    background: #c7b39b url(/images/wp/bg-2.jpg);
    background-size: cover;
}
.container {
    padding: 0;
}
.col-l {
    padding-left: 1%
}
.col-r {
    padding-right: 1%
}
</style>
