<template>
    <b-container fluid="" class="h-100 mb-4 mt-6">
        <b-row>
            <b-col cols="2" class="mt-4 col-l">
                <Skyscrapleft></Skyscrapleft>
                <Rectleft></Rectleft>
            </b-col>
            <b-col cols="8" class="mt-4">
                <b-container fluid="">
                    <b-breadcrumb :items="items"></b-breadcrumb>
                    <b-card no-body>
                        <h1 class="justify-content-center text-center p-4">Настройки</h1>
                    </b-card>
                    <b-card no-body bg-variant="light" class="mt-4">
                        <b-tabs card>
                            <b-tab title="Основные" active>
                                <b-card title="Изменить Email" :sub-title="'Вы можете изменить Email. Текущий email: ' + user.email">
                                    <b-card-text>
                                        <b-form>
                                            <b-form-group label="Новый Email адрес:" label-for="input-1">
                                                <b-form-input
                                                    id="input-1"
                                                    type="email"
                                                    placeholder="Новый Email адрес"
                                                    v-model="new_email"
                                                    required
                                                ></b-form-input>
                                            </b-form-group>
                                            <b-form-group label="Введите пароль:" label-for="input-2">
                                                <b-form-input
                                                    id="input-2"
                                                    type="password"
                                                    placeholder="Введите пароль"
                                                    v-model="check_password"
                                                    required
                                                ></b-form-input>
                                            </b-form-group>
                                        </b-form>
                                    </b-card-text>
                                    <b-button variant="outline-primary" @click="changeEmail">Сохранить</b-button>
                                </b-card>
                                <b-card class="mt-8" title="Смена пароля" sub-title="Для смены пароля введите старый пароль и новый">
                                    <b-card-text>
                                        <b-form>
                                            <b-form-group label="Старый пароль:" label-for="input-1">
                                                <b-form-input
                                                    id="input-1"
                                                    type="password"
                                                    placeholder="Введите старый пароль"
                                                    v-model="check_password"
                                                    required
                                                ></b-form-input>
                                            </b-form-group>
                                            <b-form-group label="Новый пароль:" label-for="input-2">
                                                <b-form-input
                                                    id="input-2"
                                                    type="password"
                                                    placeholder="Введите новый пароль"
                                                    v-model="new_password"
                                                    required
                                                ></b-form-input>
                                            </b-form-group>
                                        </b-form>
                                    </b-card-text>

                                    <b-button variant="outline-primary">Сохранить</b-button>
                                </b-card>
                            </b-tab>
                            <b-tab title="Вывод средств">
                                <b-card-text>
                                    <h3>Баланс составляет: <span style="font-size: large;font-weight: bold;color: green">{{user.balance.toFixed(2)}}$</span></h3>
                                    <b-tabs card v-if="user.balance > 4">
                                        <b-tab :title="pay_system.name" active v-for="pay_system in pay_settings" v-bind:key="pay_system.id">
                                            <b-card-text>
                                                <b-form>
                                                    <b-form-group
                                                        id="input-group-1"
                                                        label="Номер счета:"
                                                        label-for="input-1"
                                                    >
                                                        <b-form-input
                                                            id="input-1"
                                                            v-model="pay.acc"
                                                            :placeholder="pay_system.account_ex"
                                                            required
                                                        ></b-form-input>
                                                    </b-form-group>
                                                    <b-form-group
                                                        id="input-group-2"
                                                        label="Сумма:"
                                                        label-for="input-2"
                                                        :description="'С учетом комиссии платежной системы ' + pay_system.commission + '%: ' + (pay.val - pay.val * pay_system.commission / 100).toFixed(2)"
                                                    >
                                                        <b-form-input
                                                            id="input-2"
                                                            v-model="pay.val"
                                                            placeholder="Сумма"
                                                            required
                                                        ></b-form-input>
                                                    </b-form-group>
                                                    <b-button variant="primary" block @click="withdraw(pay_system)">Вывести</b-button>
                                                </b-form>
                                            </b-card-text>
                                        </b-tab>
                                    </b-tabs>
                                    <h4 v-if="user.balance < 5">Вывод средств доступен только от 5$. На твоем депозите пока меньше 5$.</h4>
                                </b-card-text>
                            </b-tab>
                            <b-tab title="Мои рефералы">
                                <b-card-text>
                                    <h4>Реферальная ссылка:</h4>
                                    <b @click="copyToClipboard">{{ ref_link }}</b> <i class="mdi mdi-content-copy"></i>
                                    <h4 class="mt-12">Рефералы:</h4>
                                    <b-table striped hover :items="referals" :fields="fields"></b-table>
                                </b-card-text>
                            </b-tab>
                        </b-tabs>
                    </b-card>
                    <b-row class="mt-4">
                        <b-col>
                            <Leaderboardtop></Leaderboardtop>
                        </b-col>
                    </b-row>
                </b-container>
            </b-col>
            <b-col cols="2" class="mt-4 col-r">
                <Skyscrapright></Skyscrapright>
                <Rectright></Rectright>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import Swal from "sweetalert2";

import Leaderboardtop from '@/components/Advs/Leaderboardtop';
import Skyscrapleft from '@/components/Advs/Skyscrapleft';
import Skyscrapright from '@/components/Advs/Skyscrapright';
import Rectleft from '@/components/Advs/Rectleft';
import Rectright from '@/components/Advs/Rectright';

export default {
    name: "Settings",
    components: {
        Leaderboardtop,
        Skyscrapleft, Skyscrapright, Rectleft, Rectright
    },
    data() {
        return {
            pay: {
                acc: null,
                val: null
            },
            items: [
                {
                    text: 'Главная',
                    to: '/'
                },
                {
                    text: 'Настройки',
                    active: true
                },
            ],
            new_email: '',
            check_password: '',
            new_password: '',
            referals: [],
            ref_link: '',
            fields: [
                {
                    key: 'counter',
                    label: '№',
                    sortable: true
                },
                {
                    key: 'email',
                    label: 'Email',
                    sortable: true
                },
                {
                    key: 'balance',
                    label: 'Баланс',
                    sortable: true
                },
                {
                    key: 'lotteries',
                    label: 'Лотерей в день',
                    sortable: true
                },
                {
                    key: 'created_at',
                    label: 'Присоединился',
                    sortable: true
                },
                {
                    key: 'last_login',
                    label: 'Последний вход',
                    sortable: true
                },
            ],
            pay_settings: {},
        }
    },
    methods: {
        ...mapActions('user', ['updateUser']),
        copyToClipboard($event) {
            let text = $event.target.textContent.split('(')[0].replace(/^\s$/g, '');
            let textArea = document.createElement('textarea');
            textArea.value = text;

            //предотвращаем скроллинг страницы
            textArea.style.top = '0';
            textArea.style.left = '0';
            textArea.style.position = 'fixed';

            document.body.appendChild(textArea);
            textArea.focus();
            textArea.select();

            try {
                document.execCommand('copy');
                console.log('ok');
                // this.$toastSuccess('Скопировано');
            } catch (err) {
                // this.$toastError('Произошла ошибка. Повторите попытку позже.');
            }

            document.body.removeChild(textArea);
        },
        getReferals: function () {
            axios.post('/api/get-referals')
                .then(response => {
                    if (!response.data.success) {

                    } else {
                        this.referals = response.data.referals;
                        this.ref_link = response.data.ref_link;
                    }
                }).catch(err => {
                console.log(err);
            });
        },
        changeEmail: function () {
            axios.post('/api/change-email', {email: this.new_email, password: this.check_password})
                .then(response => {
                    if (!response.data.success) {

                    } else {

                    }
                }).catch(err => {
                console.log(err);
            });
        },
        changePassword: function () {
            axios.post('/api/change-password', {password: this.check_password, new_password: this.new_password})
                .then(response => {
                    if (!response.data.success) {

                    } else {

                    }
                }).catch(err => {
                console.log(err);
            });
        },
        getPayData: function () {
            axios.post('/api/get-pay-data')
                .then(response => {
                    if (!response.data.success) {

                    } else {
                        this.pay_settings = response.data.pay_settings;
                        console.log(response.data);
                    }
                }).catch(err => {
                console.log(err);
            });
        },
        withdraw: function (pay_system) {
            console.log(pay_system.account_reg_exp);
            console.log(this.pay.acc.match(pay_system.account_reg_exp));
            if (!this.pay.acc.match(pay_system.account_reg_exp)) {
                Swal.fire({
                    icon: 'error',
                    title: 'Ошибка',
                    text: 'Неверный формат номера счета!',
                });
                return;
            }
            if (this.pay.val < 5) {
                Swal.fire({
                    icon: 'error',
                    title: 'Ошибка',
                    text: 'Минимальный вывод - 5$!',
                });
                return;
            }
            axios.post('/api/withdraw', {pay_system: pay_system, pay_data: this.pay})
                .then(response => {
                    if (!response.data.success) {

                    } else {
                        return true;
                    }
                }).catch(err => {
                console.log(err);
            });
        }
    },
    computed: {
        ...mapGetters('user', ['user']),
    },
    mounted() {
        this.getReferals();
        this.getPayData();
    },
    metaInfo: {
        title: 'Бесплатная лотерея: настройки',
        meta: [
            { charset: 'utf=8' },
            { vmid: 'description', property: 'description', content: 'Vue App' },
            { vmid: 'title', property: 'title', content: 'Vue App' },
            { vmid: 'og:title', property: 'og:title', content: 'Vue App' },
            { vmid: 'og:description', property: 'og:description', content: 'Vue App' },
        ],
        htmlAttrs: {
            lang: 'ru',
        }
    },
}
</script>

<style scoped>
    .container {
        padding: 0;
    }
    .col-l {
        padding-left: 1%
    }
    .col-r {
        padding-right: 1%
    }
</style>
