<template>
    <b-container fluid="" class="h-100 mt-6 mb-4">
        <b-row>
            <b-col cols="2" class="mt-4 col-l">
                <Skyscrapleft></Skyscrapleft>
                <Rectleft></Rectleft>
            </b-col>
            <b-col cols="8" class="mt-4">
                <b-container fluid="">
                    <b-row class="mt-12">
                        <b-col>
                            <b-card
                                overlay
                                img-src="/images/wp/packs-1634972.jpg"
                                img-alt="Card Image"
                                text-variant="white"
                                title="Получи лотерейные билеты бесплатно"
                                title-tag="h1"
                                :sub-title="
                                    user ? 'Сегодня можно получить еще ' + user.tickets_remain + ' билетов. Призовой фонд на сегодня - ' + stats.today_fond
                                    : 'Призовой фонд на сегодня - ' + stats.today_fond
                                "
                                sub-title-tag="h3"
                                sub-title-text-variant="warning"
                                img-height="200%"
                                border-variant="dark"
                                footer-bg-variant="dark"
                            >
                                <b-card-text class="mt-12">
                                    <p>
                                        Всего можно получить 5 билетов за сутки. Чем больше билетов ты получишь, тем больше твой шанс на победу!
                                        Количество билетов в сутки можно увеличить - за каждого приведенного тобой друга ты получишь один дополнительный
                                        билет в сутки навсегда. <a href="#more"><strong>Подробнее о проекте...</strong></a>
                                    </p>
                                </b-card-text>
                                <template #footer>
                                    <b-button v-if="user" variant="outline-danger" block pill size="lg" to="get-lottery">Получить лотерейный билет бесплатно</b-button>
                                    <b-button v-if="user" variant="outline-primary" block pill size="lg" to="check-lottery">Проверить лотерейный билет</b-button>
                                    <b-button v-if="!user" variant="outline-danger" block pill size="lg" to="register">Пройти регистрацию и участвовать</b-button>
                                </template>
                            </b-card>
                        </b-col>
                    </b-row>
                    <b-row class="mt-4">
                        <b-col>
                            <stats-card></stats-card>
                        </b-col>
                    </b-row>
                    <b-row class="mt-4">
                        <b-col>
                            <Leaderboardtop></Leaderboardtop>
                        </b-col>
                    </b-row>
                    <b-row class="mt-4">
                        <b-col>
                            <fond-card></fond-card>
                        </b-col>
                    </b-row>
                    <b-row class="mt-4">
                        <b-col>
                            <Leaderboardcenter></Leaderboardcenter>
                        </b-col>
                    </b-row>
                    <b-row class="mt-4">
                        <b-col>
                            <a name="more"></a>
                            <InfoCard></InfoCard>
                        </b-col>
                    </b-row>
                    <b-row class="mt-4">
                        <b-col>
                            <FaqCard></FaqCard>
                        </b-col>
                    </b-row>
                    <b-row class="mt-4">
                        <b-col>
                            <Leaderboardbottom></Leaderboardbottom>
                        </b-col>
                    </b-row>
                </b-container>
            </b-col>
            <b-col cols="2" class="mt-4 col-r">
                <Skyscrapright></Skyscrapright>
                <Rectright></Rectright>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
import 'material-design-icons';

import { mobileMixins } from '@/mixins/mobile';
import { sidebarMixins } from '@/mixins/sidebar';
import Slider from '@/components/Slider';

import Leaderboardtop from '@/components/Advs/Leaderboardtop';
import Leaderboardcenter from '@/components/Advs/Leaderboardcenter';
import Leaderboardbottom from '@/components/Advs/Leaderboardbottom';
import Skyscrapleft from '@/components/Advs/Skyscrapleft';
import Skyscrapright from '@/components/Advs/Skyscrapright';
import Rectleft from '@/components/Advs/Rectleft';
import Rectright from '@/components/Advs/Rectright';

import StatsCard from '@/components/Cards/StatsCard';
import FondCard from '@/components/Cards/FondCard';
import InfoCard from '@/components/Cards/InfoCard';
import FaqCard from '@/components/Cards/FaqCard';

import { mapGetters } from "vuex";

export default {
    name: 'Main',
    components: {
        Slider,
        StatsCard, FondCard, InfoCard, FaqCard,
        Leaderboardtop, Leaderboardcenter, Leaderboardbottom,
        Skyscrapleft, Skyscrapright, Rectleft, Rectright

    },
    mixins: [mobileMixins, sidebarMixins],
    data() {
        return {
            search_query: ''
        };
    },
    methods: {
        loadJs(url, callback) {
            jQuery.ajax({
                url: url,
                dataType: 'script',
                success: callback,
                async: true
            });
        },
    },
    computed: {
        ...mapGetters('user', ['user']),
        ...mapGetters('stats', ['stats']),
    },
    mounted() {
        // google
        this.loadJs("https://www.googletagmanager.com/gtag/js?id=G-CR8ZEG97V7");
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-CR8ZEG97V7');
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        // yandex
        ym(71564068, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });

        // rambler
        (function (w, d, c) {
            (w[c] = w[c] || []).push(function() {
                var options = {
                    project: 7327023,
                };
                try {
                    w.top100Counter = new top100(options);
                } catch(e) { }
            });
            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src =
                (d.location.protocol == "https:" ? "https:" : "http:") +
                "//st.top100.ru/top100/top100.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(window, document, "_top100q");
    },
    metaInfo: {
        title: 'Бесплатная лотерея',
        meta: [
            { charset: 'utf=8' },
            { vmid: 'description', property: 'description', content: 'Vue App' },
            { vmid: 'title', property: 'title', content: 'Vue App' },
            { vmid: 'og:title', property: 'og:title', content: 'Vue App' },
            { vmid: 'og:description', property: 'og:description', content: 'Vue App' },
            { vmid: 'yandex', name: 'yandex-verification', content: '1feed8b38e40437a' },
            { vmid: 'adcash', name: 'a.validate.01', content: '362adb6a1cad166c47d23f457e53b696d89f' },
        ],
        htmlAttrs: {
            lang: 'ru',
        }
    },
};
</script>
<style rel="stylesheet/scss" lang="scss">
    .container {
        padding: 0;
    }
    .col-l {
        padding-left: 1%
    }
    .col-r {
        padding-right: 1%
    }
</style>
