<template>
    <b-card header-tag="header" footer-tag="footer">
        <template #header>
            <h6 class="mb-0">Чат</h6>
        </template>
        <b-card-body>
            <div class="card-body msg_card_body container-fluid">
                <div class="d-flex justify-content-start mb-4">
                    <div class="msg_cotainer">
                        Hi, how are you samim?
                        <span class="msg_time">8:40 AM, Today</span>
                    </div>
                </div>
                <div class="d-flex justify-content-end mb-4">
                    <div class="msg_cotainer_send">
                        Hi Khalid i am good tnx how about you?
                        <span class="msg_time_send">8:55 AM, Today</span>
                    </div>
                </div>
                <div class="d-flex justify-content-start mb-4">
                    <div class="msg_cotainer">
                        I am good too, thank you for your chat template
                        <span class="msg_time">9:00 AM, Today</span>
                    </div>
                </div>
                <div class="d-flex justify-content-end mb-4">
                    <div class="msg_cotainer_send">
                        You are welcome
                        <span class="msg_time_send">9:05 AM, Today</span>
                    </div>
                </div>
                <div class="d-flex justify-content-start mb-4">
                    <div class="msg_cotainer">
                        I am looking for your next templates
                        <span class="msg_time">9:07 AM, Today</span>
                    </div>
                </div>
                <div class="d-flex justify-content-end mb-4">
                    <div class="msg_cotainer_send">
                        Ok, thank you have a good day
                        <span class="msg_time_send">9:10 AM, Today</span>
                    </div>
                </div>
                <div class="d-flex justify-content-start mb-4">
                    <div class="msg_cotainer">
                        Bye, see you
                        <span class="msg_time">9:12 AM, Today</span>
                    </div>
                </div>
            </div>
        </b-card-body>
        <template #footer>
            <div class="input-group">
                <div class="input-group-append">
                    <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                </div>
                <textarea name="" class="form-control type_msg" placeholder="Type your message..."></textarea>
                <div class="input-group-append">
                    <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
                </div>
            </div>
        </template>
    </b-card>
</template>

<script>
export default {
    name: "Chat"
}
</script>

<style scoped>
    .msg_card_body {
        max-height: 2%;
    }
</style>
