<template>
    <b-card
        header-bg-variant="dark"
        header-class="card_header"
    >
        <template #header>
            <h1>Выигрышные билеты во вчерашнем розыгрыше:</h1>
        </template>
        <b-card-text>
            <h2>Первое место: {{tickets.first}}</h2>
            <p>Этот номер сорвал джекпот: <span style="color: green;font-weight: bold;font-size: large">{{tickets.first_val}}</span></p>
            <h2>Вторые места:</h2>
            <p>Эти билеты выиграли: <span style="color: green;font-weight: bold;font-size: large">{{tickets.second_val}}</span></p>
            <b-alert show variant="light">
                <b-table hover :items="tickets.second"></b-table>
            </b-alert>
            <h2>Третьи места:</h2>
            <p>Эти билеты получили: <span style="color: green;font-weight: bold;font-size: large">{{tickets.third_val}}</span></p>
            <b-alert show variant="light">
                <b-table hover :items="tickets.third"></b-table>
            </b-alert>
        </b-card-text>
        <template #footer>
            <b-button v-if="user" variant="outline-dark" block pill>Проверить и обналичить свой билет!</b-button>
        </template>
    </b-card>
</template>

<script>
import {mapGetters} from "vuex";
import Swal from "sweetalert2";

export default {
    name: "FondCard",
    components: {
    },
    data() {
        return {
            tickets: {
                first: [],
                second: [],
                third: [],
                first_val: 0,
                second_val: 0,
                third_val: 0,
            },
        };
    },
    methods: {
        getYesturdayWinTickets: function () {
            axios.post('/api/get-yesturday-win-tickets')
                .then(response => {
                    if (!response.data.success) {

                    } else {
                        this.tickets = response.data.tickets;
                    }
                }).catch(err => {
                console.log(err);
            });
        }
    },
    computed: {
        ...mapGetters('user', ['user']),
    },
    mounted() {
        this.getYesturdayWinTickets();
    },
}
</script>

<style scoped>
.card_header {
    color: white;
}
</style>
