<template>
    <b-card
        header-bg-variant="dark"
        header-class="card_header"
    >
        <template #header>
            <h1>Статистика на сегодня</h1>
        </template>
        <b-card-text>
            <b-row>
                <b-col>
                    <h2>Призовой фонд на сегодня:</h2>
                    <div class="clock flip-clock-wrapper">
                        <ul class="flip play" v-for="num in stats.today_fond.toString()">
                            <li class="flip-clock-active">
                                <a href="#">
                                    <div class="up">
                                        <div class="shadow"></div>
                                        <div class="inn">{{num}}</div>
                                    </div>
                                    <div class="down">
                                        <div class="shadow"></div>
                                        <div class="inn">{{num}}</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </b-col>
                <b-col class="align-items-center">
                    <h2>До начала розыгрыша осталось:</h2>
                    <Timer></Timer>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <h2>Участников на данный момент:</h2>
                    <div class="clock flip-clock-wrapper">
                        <ul class="flip  play" v-for="num in stats.players.toString()">
                            <li class="flip-clock-active">
                                <a href="#">
                                    <div class="up">
                                        <div class="shadow"></div>
                                        <div class="inn">{{num}}</div>
                                    </div>
                                    <div class="down">
                                        <div class="shadow"></div>
                                        <div class="inn">{{num}}</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </b-col>
                <b-col>
                    <h2>Всего пользователей:</h2>
                    <div class="clock flip-clock-wrapper">
                        <ul class="flip  play" v-for="num in stats.all_users.toString()">
                            <li class="flip-clock-active">
                                <a href="#">
                                    <div class="up">
                                        <div class="shadow"></div>
                                        <div class="inn">{{num}}</div>
                                    </div>
                                    <div class="down">
                                        <div class="shadow"></div>
                                        <div class="inn">{{num}}</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </b-col>
            </b-row>

            <h2 class="text-center">Распределение за сегодня:</h2>
            <b-alert show variant="light">
                <b-table hover :items="stats.items" :fields="stats.fields"></b-table>
                <p class="text-danger">
                    Внимание! Сумма выигрыша зависит от числа участников и растет с их количеством.
                    Шанс выигрыша расчитан исходя из 5 билетов в день. Чтобы увеличить свои шансы на джекпот, пригласи друзей и получи бонусные билеты!
                </p>
                <p class="text-warning">
                    Мы постоянно работаем над эффективностью рекламы и стараемся получить максимум от ее размещения, поэтому сумма призового фонда может вырасти
                </p>
            </b-alert>
            <h2 class="text-center">Для участия в лотерее:</h2>
            <b-alert show variant="secondary">
                <p>1. <router-link to="/register">Зарегистрируйся</router-link></p>
                <p>2. <router-link to="/get-lottery">Получи номер лотереи</router-link> на свой Email адрес</p>
                <p>3. <router-link to="/check-lottery">Проверь номер</router-link> на следующий день</p>
                <p>4. В случае выигрыша <router-link to="/settings">выведи деньги</router-link> любым удобным способом</p>
            </b-alert>
        </b-card-text>
        <template #footer>
            <b-button v-if="user" variant="outline-dark" block pill to="get-lottery">Участвовать!</b-button>
            <b-button v-if="!user" variant="outline-dark" block pill to="register">Пройти регистрацию</b-button>
        </template>
    </b-card>
</template>

<script>
import Timer from '@/components/Cards/StatsCard/components/Timer'
import { mapGetters } from "vuex";

export default {
    name: "StatsCard",
    components: {
        Timer
    },
    data() {
        return {};
    },
    methods: {},
    computed: {
        ...mapGetters('stats', ['stats']),
        ...mapGetters('user', ['user']),
    },
    mounted() {},
}
</script>

<style scoped>
    .card_header {
        color: white;
    }

</style>
