<template>
    <div v-if="advs.skyscrap_right" v-html="advs.skyscrap_right" class="bg-secondary progress-bar-striped" style="width: 300px;height: 600px;margin-right: auto;margin-left: auto"></div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
    name: "Skyscrapright",
    computed: {
        ...mapGetters('advs', ['advs']),
    },
}
</script>

<style scoped>

</style>
