<template>
    <div v-if="advs.leaderboard_center" v-html="advs.leaderboard_center" class="bg-secondary progress-bar-striped" style="width: 970px;height: 250px;margin-left: auto;margin-right: auto;"></div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
    name: "Leaderboardcenter",
    computed: {
        ...mapGetters('advs', ['advs']),
    },
}
</script>

<style scoped>

</style>
