<template>
    <div v-if="advs.leaderboard_top" v-html="advs.leaderboard_top" class="bg-secondary progress-bar-striped" style="width: 970px;height: 90px;margin-right: auto;margin-left: auto"></div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
    name: "Leaderboardtop",
    computed: {
        ...mapGetters('advs', ['advs']),
    },
}
</script>

<style scoped>

</style>
