<template>
    <nav aria-label="Page navigation example" v-if="items > items_per_page">
        <ul class="pagination">
            <li class="page-item">
                <a :class="{'disabled' : currentPage <= 1}" @click.prevent="changePage(1)" class="page-link" href="#">
                    {{ config.firstText }}
                </a>
            </li>
            <li class="page-item">
                <a v-if="showPrevious() || currentPage <= 1" :class="{'disabled' : currentPage <= 1}" @click.prevent="changePage(currentPage - 1)" class="page-link" href="#">
                    {{ config.previousText }}
                </a>
            </li>
            <li v-for="num in array" :class="{'active': num === currentPage}" @click.prevent="changePage(num)" class="page-item">
                <a class="page-link" href="#">
                    {{ num }}
                </a>
            </li>
            <li v-if="showNext() || currentPage === lastPage || lastPage === 0" :class="{'disabled' : currentPage === lastPage || lastPage === 0}" @click.prevent="changePage(currentPage + 1)" class="page-item">
                <a class="page-link" href="#">
                    {{ config.nextText }}
                </a>
            </li>
            <li :class="{'disabled' : currentPage === lastPage || lastPage === 0}" @click.prevent="changePage(lastPage)" class="page-item">
                <a class="page-link" href="#">
                    {{ config.lastText }}
                </a>
            </li>
        </ul>
    </nav>
</template>

<script>
  export default {
    name: "Pagination",
    props: {
      items: {
        type: Number,
        required: true
      },
      items_per_page: {
        type: Number,
        required: true
      },
      callback: {
        type: Function,
        required: true
      },
      options: {
        type: Object
      }
    },
    data() {
      return { currentPage: 1 }
    },
    computed: {
      _items() {
        return this.items
      },
      _items_per_page() {
        return this.items_per_page
      },
      lastPage() {
        let _items = this._items / this._items_per_page;
        if (_items < 1) {
          return 1;
        }
        if (_items % 1 != 0) {
          return parseInt(_items + 1);
        }
        return _items;
      },
      array() {
        let _from = this.currentPage - this.config.offset;
        if (_from < 1) {
          _from = 1;
        }

        let _to = _from + (this.config.offset * 2);
        if (_to >= this.lastPage) {
          _to = this.lastPage;
        }

        let _arr = [];
        while (_from <= _to) {
          _arr.push(_from);
          _from++;
        }

        return _arr;
      },
      config() {
        return Object.assign({
          offset: 2,
          previousText: '<',
          nextText: '>',
          firstText: '<<',
          lastText: '>>',
          alwaysShowPrevNext: true
        }, this.options);
      }
    },
    methods: {
      showPrevious() {
        return this.config.alwaysShowPrevNext || this.currentPage > 1;
      },
      showNext() {
        return this.config.alwaysShowPrevNext || this.currentPage < this.lastPage;
      },
      changePage(page) {
        if (this.currentPage === page || page > this.lastPage || page < 1) return;
        this.currentPage = page;
        this.callback(page, this.items_per_page);
      }
    }
  }
</script>
