<template>
    <b-container fluid="" class="mb-4 h-100">
        <b-row>
            <b-col cols="2" class="mt-16 col-l">
            </b-col>
            <b-col cols="8">
                <b-container fluid="" class="mt-8">
                    <b-breadcrumb :items="items"></b-breadcrumb>
                    <b-card no-body>
                        <h1 class="justify-content-center text-center p-4">{{ $t("agreement.title") }}</h1>
                    </b-card>
                    <b-card no-body class="p-4 mt-4 mb-4">
                        <span data-lang="agreementText" v-html="$t('agreement.text')"></span>
                    </b-card>
                </b-container>
            </b-col>
            <b-col cols="2" class="mt-16 col-r">
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
import 'material-design-icons';

export default {
    name: 'Agreement',
    components: {},
    data() {
        return {
            items: [
                {
                    text: 'Главная',
                    to: '/'
                },
                {
                    text: this.$t("agreement.title"),
                    active: true
                },
            ]
        }
    },
    watch: {},
    mounted() {},
    methods: {},
};
</script>

<style rel="stylesheet/scss" lang="scss">

</style>
