<template>
    <div id="footer" class="main">
        <footer>
            <router-link
                :to="{ name: 'agreement' }"
            >
                <span data-lang="rules1">{{ $t("footer.rules_1") }}</span>
            </router-link>
            <router-link
                :to="{ name: 'rules' }"
            >
                <span data-lang="rules2">{{ $t("footer.rules_2") }}</span>
            </router-link>
            <span class="copy" data-lang="copy">{{new Date().getFullYear()}} © Silenspec </span>
            <span class="copy" data-lang="copy">
                <a href="https://www.liveinternet.ru/click"
                   target="_blank"><img id="licnt32C4" width="31" height="31" style="border:0"
                   title="LiveInternet" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" alt=""/>
                </a>
            </span>
        </footer>
    </div>
</template>

<script>
export default {
    name: 'MainFooter',
    methods: {

    },
    mounted() {
        // liveinternet
        (function(d,s){d.getElementById("licnt32C4").src=
            "https://counter.yadro.ru/hit?t45.6;r"+escape(d.referrer)+
            ((typeof(s)=="undefined")?"":";s"+s.width+"*"+s.height+"*"+
                (s.colorDepth?s.colorDepth:s.pixelDepth))+";u"+escape(d.URL)+
            ";h"+escape(d.title.substring(0,150))+";"+Math.random()})
        (document,screen)
    }
};
</script>

<style scoped>

</style>
