<template>
    <b-container fluid="" class="h-100 mt-6 mb-4">
        <Leaderboardtop></Leaderboardtop>
        <b-row>
            <b-col cols="2" class="mt-4 col-l">
                <Skyscrapleft></Skyscrapleft>
                <Rectleft></Rectleft>
            </b-col>
            <b-col cols="8" class="mt-4">
                <b-container fluid="" >
                    <b-row>
                        <b-col>
                            <b-card
                                overlay
                                img-src="/images/wp/packs-1634972.jpg"
                                img-alt="Card Image"
                                text-variant="white"
                                title="Проверь свои лотерейные билеты"
                                title-tag="h1"
                                :sub-title="'Сегодня можно получить еще ' + user.tickets_remain + ' билетов'"
                                sub-title-tag="h3"
                                sub-title-text-variant="warning"
                                img-height="200%"
                                border-variant="dark"
                                footer-bg-variant="dark"
                            >
                                <b-card-text class="mt-12">
                                    <b-row>
                                        <b-col>
                                            <h2 class="text-center">Призовой фонд вчера:</h2>
                                            <div class="clock flip-clock-wrapper justify-content-center">
                                                <ul class="flip play" v-for="num in yesturday_stats.yesturday_fond.toString()">
                                                    <li class="flip-clock-active">
                                                        <a href="#">
                                                            <div class="up">
                                                                <div class="shadow"></div>
                                                                <div class="inn">{{num}}</div>
                                                            </div>
                                                            <div class="down">
                                                                <div class="shadow"></div>
                                                                <div class="inn">{{num}}</div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </b-col>
                                        <b-col>
                                            <h2 class="text-center">До начала нового розыгрыша осталось:</h2>
                                            <Timer></Timer>
                                        </b-col>
                                    </b-row>

                                </b-card-text>
                                <template #footer>
                                    <b-button variant="outline-danger" block pill size="lg" @click="checkTicket">Проверить и обналичить лотерейный билет</b-button>
                                </template>
                            </b-card>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col class="mt-4 justify-center">
                            <Leaderboardcenter></Leaderboardcenter>
                        </b-col>
                    </b-row>
                    <b-row class="mt-4">
                        <b-col>
                            <FondCard></FondCard>
                        </b-col>
                    </b-row>
                    <b-row class="mt-4">
                        <b-col>
                            <Leaderboardtop></Leaderboardtop>
                        </b-col>
                    </b-row>
                    <b-row class="mt-4">
                        <b-col>
                            <ResultsCard></ResultsCard>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col class="mt-4 justify-center">
                            <Leaderboardbottom></Leaderboardbottom>
                        </b-col>
                    </b-row>
                </b-container>
            </b-col>
            <b-col cols="2" class="mt-4 col-r">
                <Skyscrapright></Skyscrapright>
                <Rectright></Rectright>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
import 'material-design-icons';

import { mobileMixins } from '@/mixins/mobile';
import { sidebarMixins } from '@/mixins/sidebar';
import Leaderboardtop from '@/components/Advs/Leaderboardtop';
import Leaderboardcenter from '@/components/Advs/Leaderboardcenter';
import Leaderboardbottom from '@/components/Advs/Leaderboardbottom';
import Skyscrapleft from '@/components/Advs/Skyscrapleft';
import Skyscrapright from '@/components/Advs/Skyscrapright';
import Rectleft from '@/components/Advs/Rectleft';
import Rectright from '@/components/Advs/Rectright';

import StatsCardMini from '@/components/Cards/StatsCardMini';
import FondCard from '@/components/Cards/FondCard';
import ResultsCard from '@/components/Cards/ResultsCard';
import {mapActions, mapGetters} from "vuex";
import Timer from '@/components/Cards/StatsCard/components/Timer';
import Swal from "sweetalert2";

export default {
    name: "GetLottery",
    components: {
        StatsCardMini, FondCard, Timer, ResultsCard,
        Leaderboardtop, Leaderboardcenter, Leaderboardbottom,
        Skyscrapleft, Skyscrapright, Rectleft, Rectright
    },
    mixins: [mobileMixins, sidebarMixins],
    data() {
        return {
            search_query: ''
        };
    },
    methods: {
        ...mapActions('user', ['updateUser']),
        checkTicket: function () {
            let timerInterval
            Swal.fire({
                title: 'После просмотра этой рекламы можно будет проверить лотерейный билет',
                html: 'Это окно автоматически закроется через <strong></strong> секунд.',
                timer: 15000,
                showConfirmButton: false,
                showCancelButton: false,
                allowOutsideClick: false,
                onBeforeOpen: () => {
                    this.loadJs('https://www.geniusdexchange.com/a/display.php?r=4103899');
                    timerInterval = setInterval(() => {
                        Swal.getContent().querySelector('strong')
                            .textContent = Swal.getTimerLeft()
                    }, 100)
                },
                onClose: () => {
                    clearInterval(timerInterval)
                }
            }).then((result) => {
                if (result.dismiss === Swal.DismissReason.timer
                ) {
                    this.getWin();
                }
            })
        },
        getWin: function () {
            Swal.fire({
                title: 'Введи номер билета',
                input: 'text',
                showCancelButton: false,
                confirmButtonText: 'Проверить',
                showLoaderOnConfirm: true,
                allowOutsideClick: false,
                preConfirm: (number) => {
                    return axios.post('/api/check-ticket', {number: number})
                        .then(response => {
                            if (!response.data.success) {
                                Swal.fire({
                                    type: 'error',
                                    title: 'Ошибка',
                                    text: response.data.message,
                                })
                            } else {
                                return response.data;
                            }
                        }).catch(err => {
                        console.log(err);
                    });
                },
            }).then((result) => {
                if (result.value.success && !result.value.message) {
                    Swal.fire({
                        title: 'Введи защитный код',
                        input: 'text',
                        showCancelButton: false,
                        confirmButtonText: 'Ок',
                        showLoaderOnConfirm: true,
                        preConfirm: (code) => {
                            return axios.post('/api/get-win', {code: code})
                                .then(response => {
                                    if (!response.data.success) {
                                        Swal.fire({
                                            type: 'error',
                                            title: 'Ошибка',
                                            text: response.data.message,
                                        })
                                    } else {
                                        return response.data;
                                    }
                                }).catch(err => {
                                    console.log(err);
                                });
                        },
                        allowOutsideClick: false
                    }).then((result) => {
                        console.log(result);
                        if (result.value.success) {
                            let html = '<p>Поздравляем! Ты получил: <strong style="font-size: large;font-weight: bold;color: green">' + result.value.cash +
                                '$</strong></p><p>Деньги перечислены на твой баланс. Вывести выигрыш можно в личном кабинете.</p>' +
                                '<p>Если у тебя еще остались билеты, используй их - увеличь свои шансы на джекпот!</p>' +
                                '<p>Если билетов больше нет, попробуй пригласить друзей - за каждого получишь по билету.' +
                                ' Для этого перейди <router-link to="/settings">в свой кабинет<router-link>, в раздел Рефералы. ' +
                                'Там ты найдешь свою реферальную ссылку.</p>' +
                                '<p>P.S.: мы выслали тебе на почту письмо, где продублировали номер лотереи и защитный код.' +
                                ' Если письма нет, поищи его в папочке "Спам" - такое иногда бывает. ' +
                                'Но на всякий случай сохрани куда-нибудь номер и код - всякое бывает! Ну и, конечно, удачи тебе!</p>'
                            this.user.balance += result.value.cash;
                            this.updateUser(this.user);
                            Swal.fire({
                                title: 'Отлично!',
                                width: '50%',
                                html: html,
                                imageUrl: '/images/wp/packs-163497.jpg',
                                imageWidth: 400,
                                imageHeight: 200,
                                imageAlt: '',
                                animation: false,
                                allowOutsideClick: false,
                            });
                        }
                    });
                } else {
                    Swal.fire({
                        type: 'info',
                        title: 'Сегодня не повезло...',
                        text: result.value.message,
                    });
                }
            });
        },
        loadJs(url, callback) {
            jQuery.ajax({
                url: url,
                dataType: 'script',
                success: callback,
                async: true
            });
        },
    },
    computed: {
        ...mapGetters('user', ['user']),
        ...mapGetters('stats', ['stats', 'yesturday_stats']),
    },
    mounted() {

    },
    metaInfo: {
        title: 'Проверка билета',
        meta: [
            { charset: 'utf=8' },
            { vmid: 'description', property: 'description', content: 'Vue App' },
            { vmid: 'title', property: 'title', content: 'Vue App' },
            { vmid: 'og:title', property: 'og:title', content: 'Vue App' },
            { vmid: 'og:description', property: 'og:description', content: 'Vue App' },
        ],
        htmlAttrs: {
            lang: 'ru',
        }
    },
}
</script>

<style scoped>

</style>
