
@import url("alertify.css");
@import url("style.css");
@import url("flipclock.css");

$material-design-icons-font-path: '~material-design-icons-iconfont/dist/fonts/';
@import '~material-design-icons-iconfont/src/material-design-icons';

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    font-size: 15px;
    line-height: 15px;
}

.main {
    width: 100%;
    float: left;
}

::selection {
    background: rgba(0,0,0,0.1);
}

input, textarea{
    font-family: 'Roboto Regular', serif;
    background: none;
}

.pointer {
    cursor: pointer !important;
}

/* mixins */
.animations{-webkit-transition:all 0.3s ease;-moz-transition: all 0.3s ease;-ms-transition: all 0.3s ease;-o-transition: all 0.3s ease;transition: all 0.3s ease;}
.animation300{-webkit-transition:all 0.3s ease;-moz-transition: all 0.3s ease;-ms-transition: all 0.3s ease;-o-transition: all 0.3s ease;transition: all 0.3s ease;}
.animation250{-webkit-transition:all 0.25s ease;-moz-transition: all 0.25s ease;-ms-transition: all 0.25s ease;-o-transition: all 0.25s ease;transition: all 0.25s ease;}
.animation200{-webkit-transition:all 0.2s ease;-moz-transition: all 0.2s ease;-ms-transition: all 0.2s ease;-o-transition: all 0.2s ease;transition: all 0.2s ease;}
.animation100{-webkit-transition:all 0.1s ease;-moz-transition: all 0.1s ease;-ms-transition: all 0.1s ease;-o-transition: all 0.1s ease;transition: all 0.1s ease;}

.h7{width:100%;float:left;}
.h5{width:100%;height:5px;float:left;}
.h10{width:100%;height:10px;float:left;}
.h15{width:100%;height:15px;float:left;}
.h20{width:100%;height:20px;float:left;}
.h30{width:100%;height:30px;float:left;}
.h50{width:100%;height:50px;float:left;}
.x20{width:20%;float:left;}
.x25{width:25%;float:left;}
.x30{width:30%;float:left;}
.x40{width:40%;float:left;}
.x50{width:50%;float:left;}
.x60{width:60%;float:left;}
.x70{width:70%;float:left;}
.x75{width:75%;float:left;}

.w5 {
    width: 5px;
    height: 1px;
    float: left;
}

.w10 {
    width: 10px;
    height: 1px;
    float: left;
}

.w15 {
    width: 15px;
    height: 1px;
    float: left;
}

.w20 {
    width: 20px;
    height: 1px;
    float: left;
}

.w25 {
    width: 25px;
    height: 1px;
    float: left;
}

.w30 {
    width: 30px;
    height: 1px;
    float: left;
}

hr {
    width: 100%;
    float: left;
    height: 1px;
    background-color: rgba(0,0,0,0.1);
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}

.mainbox {
    width: 100%;
    float:left;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.085);
    border-radius: 4px;
    min-height: 45px;
    box-sizing: border-box;
}

.fl_r{
    float: right !important;
}

.fl_l {
    float: left !important;
}

.nobottom {
    border-bottom: none !important;
}

::-moz-selection {
    background: rgba(0,0,0,0.1);
}

.noSelect {
    -moz-user-select:none;
    -webkit-user-select:none;
}

.cnt {
    max-width: 1100px;
    margin: auto;
}

.cntFl {
    width: 100%;
    float: left;
}

.haveIcon{
    padding-left: 35px;
    i{
        position: absolute;
        font-size: 1.1em;
        margin-left: -22px;
    }
}

.shadow1 {
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.05), 0 0 0 1px rgba(0,0,0,0.02);
    -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.05), 0 0 0 1px rgba(0,0,0,0.02);
    -moz-box-shadow: 0 0 3px 1px rgba(0,0,0,0.05), 0 0 0 1px rgba(0,0,0,0.02);
    -o-box-shadow: 0 0 3px 1px rgba(0,0,0,0.05), 0 0 0 1px rgba(0,0,0,0.02);
}

.headerHeight {
    height: 60px;
}

.mhead {
    width: 100%;
    height: 60px;
    background-color: #49699f;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    .left {
        height: 60px;
        cursor: pointer;
        width: 60px;
        display: flex;
        color: #ffffff;
        float: left;
        box-sizing: border-box;
        border-right: 1px solid rgba(0,0,0,0.06);
        i {
            margin: auto;
            font-size: 28px;
            line-height: 28px;
        }
    }
    .center {
        height: 60px;
        width: auto;
        float: left;
        font-size: 20px;
        font-weight: 100;
        display: flex;
        img {
            height: 45px;
            margin: auto 20px;
        }
        strong {
            color: #64aa46;
        }
        span {
            margin: auto;
        }
    }
    .rightButtonsLinks {
        height: 60px;
        cursor: pointer;
        display: flex;
        float: right;
        box-sizing: border-box;
        color: #ffffff;
        a, span, i {
            margin: auto;
        }
        i {
            font-size: 15px;
            line-height: 15px;
        }
        a {
            text-decoration: none;
            color: rgba(255,255,255,0.9);
            outline: none;
            .butDown {
                -webkit-transition:all 0.25s ease;-moz-transition: all 0.25s ease;-ms-transition: all 0.25s ease;-o-transition: all 0.25s ease;transition: all 0.25s ease;
                padding: 10px 12px 9px;
                box-sizing: border-box;
                font-size: 14px;
                border: 1px dotted rgba(255,255,255,0.3);
                border-radius: 12px;
                margin-right: 30px;
                display: inline;
            }
            .butDown:hover {
                background-color: rgba(255,255,255,0.95);
                color: #64aa46;
            }
        }
    }
    .right {
        height: 60px;
        cursor: pointer;
        width: 60px;
        display: flex;
        float: right;
        box-sizing: border-box;
        color: #ffffff;
        border-left: 1px solid rgba(0,0,0,0.06);
        span, i {
            margin: auto;
        }
        i {
            font-size: 11px;
            line-height: 15px;
        }
    }
}

.margHead {
    float: left;
    width: 100%;
    height: 38px;
}

.but {
    font-family: "Roboto", serif;
    font-size: 15px;
    float: left;
    background-color: #64aa46;
    border-radius: 2px;
    cursor: pointer;
    border: none;
    padding: 11px 15px;
    line-height: 15px;
    span {
        color: #ffffff;
    }
}

.but:active {
    background-color: #64aa46;
}

.mlBefore {
    opacity: 0;
    .whiteBoxMenu {
        margin-left: -100%;
    }
}

.mlAfter {
    opacity: 1;
    .whiteBoxMenu {
        margin-left: 0 !important;
    }
}

.backSearch {
    width: 100%;
    height: 80px;
    background-color: #fff;
    float: left;
    box-sizing: border-box;
    display: flex;
}

.search {
    background-color: #efefef;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 0;
    height: 49px;
    float: left;
    width: 100%;
    max-width: 1100px;
    margin: auto;
    .search_left {
        float: left;
        width: calc(100% - 166px);
        .logoSearch {
            width: 59px;
            float: left;
            height: 50px;
            border-right: 1px solid rgba(0, 0, 0, 0.05);
            background-image: url("/media/images/96x96.png");
            background-repeat: no-repeat;
            background-size: 32px;
            background-position: center;
        }
        input {
            float: right;
            height: 49px;
            line-height: 49px;
            box-sizing: border-box;
            width: calc(100% - 60px);
            margin: 0;
            border: none;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            cursor: text;
            padding: 0 15px 0 20px;
            font-size: 16px;
            outline: none;
            font-family: "Roboto", serif;
            font-weight: 100;
        }
    }
    .search_right {
        width: 166px;
        float: right;
        height: 49px;
        display: flex;
        .search_button {
            height: 35px;
            background-color: #64aa46;
            cursor: pointer;
            border-radius: 3px;
            margin: auto;
            max-width: 150px;
            display: flex;
            i, span {
                margin: auto;
                color: rgba(255,255,255,0.85);
            }
            i {
                width: 50px;
                border-right: 1px solid #5d9e42;
                text-align: center;
            }
            span {
                width: 100px;
                border-left: 1px solid rgba(255, 255, 255, 0.15);
                text-align: center;
                line-height: 24px;
            }
        }
    }
}

.hiddenMenu {
    cursor: pointer !important;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.39);
    overflow-y: auto;
    z-index: 7777777;
    position: fixed;
    .closeMenuButton {
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        width: calc(100% - 250px);
        display: flex;
        i {
            margin: auto;
            color: #ffffff;
            font-size: 30px;
            text-shadow: 0 0 3px #00000059;
        }
    }
    .whiteBoxMenu {
        width: 80%;
        max-width: 250px;
        height: 100vh;
        cursor: pointer;
        background-color: #ffffff;
        left: 0;
        bottom: 0;
        position: absolute;
        top: 0;
        box-shadow: 0 0 3px 1px rgba(0,0,0,0.1);
        ul {
            width: 100%;
            box-sizing: border-box;
            float: left;
            margin: 1px 0 0 0;
            padding: 0;
            li {
                border-bottom: 1px solid rgba(0,0,0,0.05);
                float: left;
                box-sizing: border-box;
                width: 100%;
                line-height: 16px;
                height: 40px;
                display: flex;
                position: relative;
                i {
                    font-size: 24px;
                    margin: 22px 15px;
                    position: absolute;
                    color: #64aa46;
                    line-height: 14px;
                }
                span {
                    margin: 14px 0 auto 50px;
                    font-size: 16px;
                    color: #333333;
                }
            }
        }
    }
}

#dinamicText2, #dinamicText3, #dinamicText4 {
    display: none;
}

.dinamicBlocks {
    width: 100%;
    float: left;
    min-height: 60px;
    .leftDinamic {
        width: calc(100% - 250px);
        float: left;
        display: flex;
        height: 60px;
        .text {
            margin: auto 0;
            font-size: 21px;
            font-weight: 100;
            span {
                color: #64aa46;
                font-weight: normal;
            }
        }
    }
    .rightDinamic {
        width: 250px;
        float: right;
    }
}

.blockStyle {
    box-sizing: border-box;
    float: left;
    border-radius: 4px;
}

.leftBig {
    width: calc(63% - 20px);
    min-height: 300px;
    margin-right: 20px;
}

.rightSmall {
    width: 37%;
    float: right;
    img {
        width: calc(100% - 30px);
        float: left;
        border-radius: 2px;
        margin: 15px;
    }
}

.blockName {
    width: 100%;
    height: 45px;
    float: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    display: flex;
    span {
        margin: auto 15px;
        font-weight: 100;
    }
}

.preloaderNews {
    width: 100%;
    float: left;
    height: 300px;
    display: flex;
    img {
        margin: auto;
        height: 200px;
    }
}

.valutes {
    float: left;
    width: 100%;
    padding-bottom: 10px;
    .valute {
        width: calc(100% - 20px);
        box-sizing: border-box;
        padding: 10px;
        float: left;
        margin: 10px 10px 0;
        background-color: rgba(0,0,0,0.04);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        position: relative;
        .upordown {
            width: 30px;
            position: absolute;
            height: 30px;
            right: 5px;
            bottom: 5px;
            display: flex;
            i {
                margin: auto;
                width: 24px;
                color: #ccc;
            }
        }
        .left {
            width: 50px;
            float: left;
            .abbr {
                border: 1px solid rgba(0, 0, 0, 0.08);
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                width: 40px;
                height: 40px;
                margin: auto 0;
                display: flex;
                float: left;
                background-color: #fff;
                box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.02);
                -webkit-box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.02);
                -moz-box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.02);
                -o-box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.02);
                span {
                    margin: auto;
                    font-size: 12px;
                    color: #64aa46;
                }
            }
        }
        .right {
            width: calc(100% - 50px);
            float: right;
            .name {
                float: left;
                width: 100%;
                font-size: 14px;
                color: #555;
                line-height: 20px;
            }
            .nominal {
                font-weight: bold;
            }
            .nowValue {
                float: left;
                width: 100%;
                font-size: 13px;
                line-height: 20px;
            }
        }
    }
}

#news {
    float: left;
    width: 100%;
    .newsItem {
        width: calc(100% - 20px);
        box-sizing: border-box;
        padding: 10px;
        float: left;
        margin: 10px 10px 0;
        background-color: rgba(0,0,0,0.04);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        position: relative;
        overflow: hidden;
        .upordown {
            width: 30px;
            position: absolute;
            height: 30px;
            right: 5px;
            bottom: 5px;
            display: flex;
            i {
                margin: auto;
                width: 24px;
                color: #ccc;
            }
            span {
                width: 150px;
                height: 20px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                max-width: 150px;
                right: 30px;
                position: absolute;
                font-size: 12px;
                bottom: 3px;
                color: rgb(66, 119, 44) !important;
            }
        }
        .left {
            width: 50px;
            float: left;
            .image {
                border: none;
                /*-webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;*/
                margin: -20px -10px -10px;
                width: 200px;
                height: 100%;
                position: absolute;
                z-index: -1;
                /*margin: auto 0;
                display: flex;
                float: left;*/
                background-color: #fff;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
        .right {
            width: calc(100% - 170px);
            float: right;
            background-color: #f5f5f5f7;
            padding: 10px 15px;
            border-radius: 3px 0 0 3px;
            .name {
                float: left;
                width: 100%;
                font-size: 14px;
                color: #555;
                line-height: 24px;
                span {
                    color: #000;
                    font-weight: 100;
                    font-size: 22px;
                    line-height: 32px;
                }
            }
            .nowValue {
                float: left;
                width: 100%;
                font-size: 14px;
                line-height: 24px;
                color: #000;
            }
        }
    }
    .newsItem:hover {
        background-color: #75ab5e24;
        .right {
            background-color: #e9f4e8;
        }
    }
}

.vh100 {
    width: 100%;
    float: left;
    position: relative;
    min-height: calc(100vh - 122px);
}

.rek {
    width: 100%;
    float: left;
    img {
        width: 100%;
        float: left;
    }
}

.oueProjects {
    width: 100%;
    float: left;
    margin-top: 35px;
    .ul {
        width: 100%;
        float: left;
        height: 15px;
        margin: 0;
        padding: 0 22px;
        box-sizing: border-box;
        a {
            float: left;
            margin: auto 40px auto auto;
            list-style: none;
            color: #333;
            cursor: pointer;
            text-decoration: none;
            i {
                font-size: 15px;
                line-height: 15px;
                margin: -1px 0 0 -22px;
                position: absolute;
                color: #999;
                -webkit-transition:all 0.25s ease;-moz-transition: all 0.25s ease;-ms-transition: all 0.25s ease;-o-transition: all 0.25s ease;transition: all 0.25s ease;
            }
            span {
                font-size: 15px;
                line-height: 15px;
            }
        }
        a:hover {
            color: #000;
            i {
                color: #64aa46;
            }
        }
    }
}

.oueProjects .name {
    display: none;
    color: #999;
}

.mr15 {
    margin-right: 15px;
    padding-left: 10px;
    box-sizing: inherit;
}

.grass {
    width: 100%;
    float: left;
    background: url(//browser.suhba.net/i/grass.png) repeat-x;
    height: 123px;
    position: relative;
}

.grass::before {
    background: #64aa46;
    bottom: 0;
    box-shadow: 0 0 8px 0 rgba(60,60,60,.5);
    content: '';
    height: 8px;
    left: 0;
    position: absolute;
    width: 100%;
}

.fullTextPage {
    width: calc(100% - 30px);
    margin: 15px;
    float: left;
    box-sizing: border-box;
    padding: 0 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.07);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.07);
    .headerPage {
        width: 100%;
        float: left;
        box-sizing: border-box;
        padding: 30px 0;
        border-bottom: 1px solid rgba(0,0,0,0.07);
        span {
            font-size: 30px;
            font-weight: 100;
            float: left;
            width: 100%;
            line-height: 30px;
        }
    }
    .agreementText {
        width: 100%;
        float: left;
        box-sizing: border-box;
        padding: 15px 0;
        border: none;
        span {
            float: left;
            width: 100%;
            line-height: 30px;
            text-align: justify;
        }
    }
}

.mobileShown {
    display:none;
}
.mobile {
    .mobileHidden {
        display: none;
    }
    .mobileShown {
        display: block;
    }
    .cnt {
        width: 100% !important;
    }
    .backSearch {
        height: 49px;
        width: calc(100% - 30px);
        margin: 15px 15px 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        overflow: hidden;
    }
    .dinamicBlocks .leftDinamic {
        width: 100%;
        box-sizing: border-box;
        padding: 15px;
        line-height: 24px;
    }
    .mr15 {
        padding-left: 0;
        margin-right: 0;
        box-sizing: border-box;
    }
    .search {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    }
    .leftBig {
        width: calc(100% - 30px);
        margin: 0 15px
    }
    #news {
        padding: 10px 0;
    }
    .rek {
        width: calc(100% - 30px);
        float: left;
        margin: 15px 15px 0;
    }
    #newsBlock {
        margin-top: 15px;
        .left {
            width: 100%;
            .image {
                width: 150px;
                height: 150px;
                margin: 0;
                border-radius: 4px;
            }
        }
        .newsItem {
            margin: 0 10px 0 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
        }
        .upordown {
            right: auto;
            left: 20px;
            span {
                right: auto;
                left: 100px;
                bottom: 6px;
                color: rgb(49, 121, 34) !important;
            }
        }
        .h10 {
            display: none;
        }
        .right {
            width: calc(100% - 95px);
            box-sizing: border-box;
            height: auto;
            padding: 10px 15px 12px;
            .datex {
                margin-bottom: 10px;
            }
            .name {
                span {
                    font-size: 16px !important;
                    line-height: 16px !important;
                    font-weight: inherit;
                }
            }
            .nowValue {
                display: none;
            }
        }
    }
    .mhead .rightButtonsLinks {
        display: none;
    }
    .rightSmall {
        width: calc(100% - 30px);
        height: auto;
        margin: 0 15px;
    }
    .valutes {
        height: auto;
        padding-bottom: 10px;
    }
    #oueProjects .dinamicBlocks {
        display: none;
    }
    #oueProjects {
        box-sizing: border-box;
        padding: 5px 15px;
        margin-top: 10px !important;
        float: left;
        width: 100%;
    }
    .oueProjects {
        margin-top: 0 !important;
        margin-bottom: 14px !important;
    }
    #oueProjects .ul {
        height: auto !important;
    }

    .oueProjects .name {
        display: block;
        padding-bottom: 10px;
    }

    #oueProjects .ul a {
        margin-top: 7px;
        width: calc(20% - 52px);
    }
    #oueProjects .ul a span {
        display: none;
    }
    #oueProjects .ul a i {
        font-size: 33px;
    }
    .mhead .center {
        width: calc(100% - 120px);
    }
    .mhead .center img {
        margin: auto;
    }
    .mhead, .left, .center, .right, .margHead {
        height: 50px;
    }
    .hiddenMenu .whiteBoxMenu ul li {
        height: 40px;
    }
    .hiddenMenu .whiteBoxMenu ul li i {
        margin: 18px 15px !important;
    }
    .search .search_right .search_button {
        width: 100%;
        i {
            border-right: none;
        }
    }
    footer {
        a {
            width: 100%;
            border-bottom: 1px dotted #eee !important;
            line-height: 60px;
        }
        .copy {
            width: 100%;
        }
    }
    .search_left {
        width: calc(100% - 60px);
    }
    .search_right {
        width: 50px;
        margin-right: 10px;
    }
}

@media (min-width: 1023px) {
    //full
}

.justify {
    text-align: justify !important;
}

.headLink {
    width: 100%;
    float: left;
    min-height: 60px;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.07);
    line-height: 60px;
    text-align: center;
    box-sizing: border-box;
    padding: 22px 0 0 15px;
    a {
        float: left;
        color: rgb(154, 154, 154);
        outline: none;
        text-decoration: none;
        margin-right: 15px;
    }
    a:hover {
        color: #000;
    }
}

footer {
    width: 100%;
    float: left;
    min-height: 60px;
    background-color: #fff;
    border-top: 1px solid rgba(0,0,0,0.07);
    line-height: 60px;
    text-align: center;
    box-sizing: border-box;
    padding: 0 15px;
    a {
        float: left;
        color: rgb(154, 154, 154);
        outline: none;
        text-decoration: none;
        margin-right: 15px;
    }
    a:hover {
        color: #000;
    }
    .copy {
        float: right;
        color: rgb(154, 154, 154);
    }
}

.mainIcon {
    &_wrapper {
        width: 100%;
        display: flex;
    }

    &_icon {
        color: inherit;
        text-decoration: none;
        max-width: 100px;
        padding-right: 10px;
        display: flex;
        height: 90px;
        flex-direction: column;
        margin-right: 15px;
        border-right: 1px dotted rgba(0,0,0, .07);

        &_image {
            width: 100%;
            height: 50px;
            display: flex;

            i {
                margin: auto auto auto 0;
                font-size: 30px;
                color: #64aa46;
                transition: all 0.3s ease;
            }
        }

        &:hover {
            i {
                padding-bottom: 10px;
            }

            color: gray;
        }

        &_text {
            width: 100%;
            transition: all 0.3s ease;
            text-align: left;
            font-size: 11px;
            height: 30px;
            box-sizing: border-box;
            display: flex;

            span {
                margin: auto 0;
            }
        }
    }

}

@import url("https://sba.plus/static/styles/alertify.css");
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
