<template>
    <b-card
        header-bg-variant="dark"
        header-class="card_header"
    >
        <template #header>
            <h1>Общая статистика</h1>
        </template>
        <b-card-text>
            <b-row>
                <b-col>
                    <h2>Всего участников:</h2>
                    <div class="clock flip-clock-wrapper">
                        <ul class="flip  play" v-for="num in yesturday_stats.all_users.toString()">
                            <li class="flip-clock-active">
                                <a href="#">
                                    <div class="up">
                                        <div class="shadow"></div>
                                        <div class="inn">{{num}}</div>
                                    </div>
                                    <div class="down">
                                        <div class="shadow"></div>
                                        <div class="inn">{{num}}</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </b-col>
                <b-col>
                    <h2>Всего победителей:</h2>
                    <div class="clock flip-clock-wrapper">
                        <ul class="flip  play" v-for="num in yesturday_stats.winners.toString()">
                            <li class="flip-clock-active">
                                <a href="#">
                                    <div class="up">
                                        <div class="shadow"></div>
                                        <div class="inn">{{num}}</div>
                                    </div>
                                    <div class="down">
                                        <div class="shadow"></div>
                                        <div class="inn">{{num}}</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <h2>Вчерашний призовой фонд:</h2>
                    <div class="clock flip-clock-wrapper">
                        <ul class="flip  play" v-for="num in yesturday_stats.yesturday_fond.toString()">
                            <li class="flip-clock-active">
                                <a href="#">
                                    <div class="up">
                                        <div class="shadow"></div>
                                        <div class="inn">{{num}}</div>
                                    </div>
                                    <div class="down">
                                        <div class="shadow"></div>
                                        <div class="inn">{{num}}</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </b-col>
                <b-col>
                    <h2>Вчерашний джекпот:</h2>
                    <div class="clock flip-clock-wrapper">
                        <ul class="flip  play" v-for="num in yesturday_stats.first_place_val.toString()">
                            <li class="flip-clock-active">
                                <a href="#">
                                    <div class="up">
                                        <div class="shadow"></div>
                                        <div class="inn">{{num}}</div>
                                    </div>
                                    <div class="down">
                                        <div class="shadow"></div>
                                        <div class="inn">{{num}}</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <h2>Всего выплачено:</h2>
                    <div class="clock flip-clock-wrapper">
                        <ul class="flip  play" v-for="num in yesturday_stats.all_cash.toString()">
                            <li class="flip-clock-active">
                                <a href="#">
                                    <div class="up">
                                        <div class="shadow"></div>
                                        <div class="inn">{{num}}</div>
                                    </div>
                                    <div class="down">
                                        <div class="shadow"></div>
                                        <div class="inn">{{num}}</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </b-col>
                <b-col></b-col>
                <b-col></b-col>
            </b-row>
            <h2 class="text-center">Распределение за вчера:</h2>
            <b-alert show variant="light">
                <b-table hover :items="yesturday_stats.items" :fields="yesturday_stats.fields"></b-table>
                <p class="text-info">
                    Проверить билет на выигрыш можно нажав кнопку внизу. Лучше сделать это заранее, так как срок
                    действия билета составляет один месяц.
                </p>
            </b-alert>
        </b-card-text>
        <template #footer>
            <b-button v-if="user && $route.name !== 'check-lottery'" variant="outline-dark" block pill to="check-lottery">Проверить свой билет!</b-button>
        </template>
    </b-card>
</template>

<script>
import {mapGetters} from "vuex";

export default {
    name: "FondCard",
    components: {
    },
    data() {
        return {};
    },
    methods: {},
    computed: {
        ...mapGetters('stats', ['yesturday_stats']),
        ...mapGetters('user', ['user']),
    },
    mounted() {},
}
</script>

<style scoped>
    .card_header {
        color: white;
    }
</style>
