<template>
    <b-sidebar id="sidebar-variant" backdrop-variant="dark" backdrop title="Меню" bg-variant="dark" text-variant="light" shadow>
        <div class="px-3 py-2">
            <b-list-group flush>
                <b-list-group-item variant="dark" to="/">Главная</b-list-group-item>
                <b-list-group-item variant="dark" v-if="user" to="settings">Настройки</b-list-group-item>
                <b-list-group-item variant="dark" v-if="user" to="get-lottery">Получить билет</b-list-group-item>
                <b-list-group-item variant="dark" v-if="user" to="check-lottery">Проверить билет</b-list-group-item>
                <b-list-group-item variant="dark" v-if="!user" to="login">Вход</b-list-group-item>
                <b-list-group-item variant="dark" v-if="!user" to="register">Регистрация</b-list-group-item>
            </b-list-group>
            <h3 class="mt-4 mb-4">Другие наши проекты:</h3>
            <b-list-group flush>
                <b-list-group-item variant="dark" href="https://pro-bablo.online/" target="_blank">Блог о заработке в интернете</b-list-group-item>
                <b-list-group-item variant="dark" href="http://forum.pro-bablo.online/" target="_blank">Форум о заработке в интернете</b-list-group-item>
                <b-list-group-item variant="dark" href="https://proshort-link.ru/" target="_blank">Сервис сокращения ссылок</b-list-group-item>
            </b-list-group>
            <h3 class="mt-4 mb-4">Как использовать лотерею:</h3>
            <b-embed
                type="iframe"
                aspect="16by9"
                src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
                allowfullscreen
            ></b-embed>
            <h3 class="mt-4 mb-4">Мы в соцсетях:</h3>
            <div>
                <b-link target="_blank" href="https://www.facebook.com/groups/3342921822496986">
                    <b-img src="/images/icon8/icons8-facebook-500.png" v-bind="{width: 75, height: 75, class: 'm1'}" alt="Facebook"></b-img>
                </b-link>
                <b-link target="_blank" href="https://www.youtube.com/channel/UC56Xac79ZHJZYAwmTkW8o8g">
                    <b-img src="/images/icon8/icons8-youtube-500.png" v-bind="{width: 75, height: 75, class: 'm1'}" alt="Youtube"></b-img>
                </b-link>
                <b-link target="_blank" href="https://vk.com/probablo.online">
                    <b-img src="/images/icon8/icons8-вконтакте-500.png" v-bind="{width: 75, height: 75, class: 'm1'}" alt="Vkontakte"></b-img>
                </b-link>
                <b-link target="_blank" href="https://ok.ru/group/58648587862152">
                    <b-img src="/images/icon8/icons8-одноклассники-500.png" v-bind="{width: 75, height: 75, class: 'm1'}" alt="Odnoklassniki"></b-img>
                </b-link>
                <b-link target="_blank" href="https://t.me/pro_bablo_online">
                    <b-img src="/images/icon8/icons8-телеграмма-app-500.png" v-bind="{width: 75, height: 75, class: 'm1'}" alt="telegram"></b-img>
                </b-link>
                <b-link target="_blank" href="https://twitter.com/BabloPro">
                    <b-img src="/images/icon8/icons8-твиттер-в-круге-500.png" v-bind="{width: 75, height: 75, class: 'm1'}" alt="twitter"></b-img>
                </b-link>
            </div>
        </div>
    </b-sidebar>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import axios from "axios";

export default {
    name: 'Sidebar',
    components: {},
    data() {
        return {};
    },
    methods: {
        ...mapActions('user', ['updateUser']),
        logout: function () {
            axios.post('/auth/logout')
                .then(response => {
                    if (response.data.success) {
                        this.updateUser(null);
                        if (this.$route.name !== 'main') {
                            this.$router.push('/');
                        }
                    }
                }).catch(err => {
                console.log(err);
            });
        }
    },
    computed: {
        ...mapGetters('user', ['user']),
    },
    mounted() {},
};
</script>

<style>
    .offcanvas {
        max-width: 250px;
    }
    .item {
        vertical-align: middle;
    }
    i {
        font-size: 24px!important;
        vertical-align: middle;
    }
    .sidebar {
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        float: left;
        box-sizing: border-box;
        width: 100%;
        vertical-align: middle;
        line-height: 0;
        height: 40px;
        cursor: pointer;
        font-size: 16px;
        margin: 0 0 0 0;
        padding: 5px 0 0 0;
    }
</style>
