<template>
    <div class="app-wrapper">
        <div class="main-container">
            <div class="fixed-header">
                <navbar navbar_type="main"></navbar>
            </div>
            <sidebar />
            <app-main />
            <main-footer />
        </div>
    </div>
</template>

<script>
import { Navbar, AppMain, Sidebar, MainFooter } from './components';

export default {
    name: 'UserLayout',
    components: {
        AppMain,
        Navbar,
        Sidebar,
        MainFooter,
    },
    mixins: [],
    computed: {},
    methods: {},
};
</script>

<style lang="scss" scoped>

</style>
